.mui-btn {
    position: relative;
    .bt-mui-icon {
        position: absolute;
        top: calc(50% - 8px);
        left: 15px;
    }
    .bt-mui-text {
        font-family: $fontPadrao;
        // margin-left: 30px;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(black, .1);
        width: 40px;
        height: 100%;
    }
}

.mui-btn--fab {
    position: absolute;
    top: 15px;
    right: 0;
    &::after {
        content: "";
        width: 0;
        height: 0;
    }
}

.mui-dropdown .mui-btn::after {
    content: "";
    width: 0;
    height: 0;
}

button {
    font-family: "Roboto Condensed" !important;
    // font-weight: bold !important;
    // color: rgba(white, .95) !important;
}

[data-react-toolbox="button"] {
    font-size: 1.7rem;
}

.spinner-button {
    .with-spinner {
        position: relative;
        width: 56px;
        height: 56px;
        .spinner-progress {
            position: absolute;
            top: -2px;
            left: -2px;
            svg circle {
                stroke: rgba(white, 1);
                stroke-width: 4;
                r: 16;
            }
        }
    }
    &:disabled {
        background-color: $materialAccent !important;
    }
}

// REVISAR e CONSERTAR ------------------------------
// enjambração horrorosa devido a um bug
// no componente menu do react-toolbox
.open-menu-opcoes {
    left: -176px;
    top: 32px !important;
    width: 0 !important;
}

.open-menu-opcoes-mini {
    left: -174px;
    top: 24px !important;
    width: 0 !important;
}

// ---------------------------------------------------