@mixin googleButton($bkColor, $insetAlpha) {
    background-color: $bkColor;
    background-image: none;
    border-color: $bkColor;
    font-family: 'Gruppo', Arial, sans-serif;
    font-weight: bold;
    letter-spacing: .7px;
    padding: 6px 20px;
    transition: color .15s cubic-bezier(.4, 0, .2, 1), background-color .15s cubic-bezier(.4, 0, .2, 1);
    will-change: background-color;
    &:focus {
        border-color: $bkColor !important;
        background: darken($bkColor, 5%) !important;
        text-decoration: none;
        outline: none !important;
    }
    &:hover {
        border-color: $bkColor !important;
        background: darken($bkColor, 5%) !important;
        text-decoration: none;
        outline: none !important;
    }
    &:active {
        border-color: $bkColor !important;
        background-color: $bkColor !important;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, $insetAlpha) !important;
        text-decoration: none;
        outline: none !important;
    }
}

.btn-google {
    &-blue {
        @include googleButton(rgb(66, 133, 244), .2);
    }
    &-purple {
        @include googleButton(purple, .2);
    }
}