@mixin googleButton($bkColor, $insetAlpha, $darken, $fgColor: white) {
    color: $fgColor !important;
    background-color: $bkColor;
    background-image: none;
    border: none;
    font-family: 'Gruppo', Arial, sans-serif;
    font-weight: bold;
    letter-spacing: .7px;
    padding: 6px 20px;
    transition: color .15s cubic-bezier(.4, 0, .2, 1), background-color .15s cubic-bezier(.4, 0, .2, 1);
    will-change: background-color;
    &:focus {
        border: none;
        background-color: darken($bkColor, $darken) !important;
        text-decoration: none;
        outline: none !important;
    }
    &:hover {
        border: none;
        background-color: darken($bkColor, $darken) !important;
        text-decoration: none;
        outline: none !important;
    }
    &:active {
        border: none;
        background-color: darken($bkColor, $darken) !important;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, $insetAlpha) !important;
        text-decoration: none;
        outline: none !important;
    }
}

.btn-google {
    &-grey {
        @include googleButton(#9E9E9E, .2, 10%, rgba(black, .8));
    }
    &-blue {
        @include googleButton($googleBlue, .2, 10%);
    }
    &-purple {
        @include googleButton(purple, .5, 4%);
    }
    &-indigo {
        @include googleButton(#304FFE, .35, 10%);
    }
    &-indigo-100 {
        @include googleButton(rgb(124, 26, 204), .35, 10%, rgba(white, .7));
        // @include googleButton(#1A6ACC, .35, 10%);
    }
    &-red {
        @include googleButton($googleRed, .35, 10%);
    }
    &-reder {
        @include googleButton(darken($googleRed, 10%), .35, 10%);
    }
    &-green {
        @include googleButton($googleGreen, .35, 10%);
    }
    &-greener {
        @include googleButton(darken($googleGreen, 10%), .35, 10%);
    }
    &-white {
        @include googleButton(white, .2, 10%, darkslategrey);
    }
    &-orange {
        @include googleButton(#FFB300, .2, 10%);
    }
    &-yellow {
        @include googleButton(#FFCC3E, .2, 10%, rgba(black, .5));
    }
    &-glass {
        @include googleButton(rgba(black, .15), .35, 10%);
    }
}