// DEFAULT VARS
$contentWidth: 1000px;
$contentLeft: calc(50% - 500px);
// DEFAULT COLORS
$googleBlue: #4285F4;
$googleRed: #FF6C3E;
$googleGreen: #78B21B;
$busOrange: #F6952D;
$busPink: #E2076A;
$lightBlue: #EAF2FC;
$fontPadrao: "Patua One";
// MAIN NAVBAR
$colorNavbarPrincipal: #140866;
$brandNavbarPrincipal: $busOrange;
$textNavbarPrincipal: rgba(white, .7);
// PAGE HEADER
$colorNavbarHeader: #1B0088;
$textNavbarHeader: rgba(white, .8);
$fontNavbarHeader: $fontPadrao;
$sizeFontNavbarHeader: 5rem;
// NAVBAR TRAJETO
$colorNavbarCompras: #EDEFF1;
$textNavbarCompras: rgba(black, .7);
$iconNavbarCompras: rgba(black, .7);
$fontNavbarCompras: $fontPadrao;
// TABCONTROL HORARIOS
$colorTabHorarios: rgba(white, 1);
$borderTabHorarios: rgba(black, .15);
// DETALHES
$colorDetalhesPanel: rgba(white, 1);
$fontDetalhesPanel: "Roboto Slab";
$sizeFontDetalhesPanel: 1.7rem;
// BUTTONS
$fontButton: $fontPadrao;