// DEFAULT VARS
$contentWidth: 1000px;
$contentLeft: calc(50% - 500px);
// DEFAULT COLORS
$googleBlue: #4285F4;
$googleRed: #F44336;
$googleGreen: #4CAF50;
$busOrange: #F6952D;
$busPink: #E2076A;
$lightBlue: #EAF2FC;
$lilas: #7C1ACC;
$fontPadrao: "Days One";
// MAIN NAVBAR
$colorNavbarPrincipal: #140866;
$brandNavbarPrincipal: $busOrange;
$textNavbarPrincipal: rgba(white, .7);
// PAGE HEADER
$colorNavbarHeader: #1B0088;
$textNavbarHeader: rgba(white, .8);
$fontNavbarHeader: $fontPadrao;
$sizeFontNavbarHeader: 5rem;
// NAVBAR TRAJETO
$colorNavbarCompras: #EDEFF1;
$textNavbarCompras: rgba(black, .7);
$iconNavbarCompras: rgba(black, .7);
$fontNavbarCompras: $fontPadrao;
// TABCONTROL HORARIOS
$colorTabHorarios: rgba(white, 1);
$borderTabHorarios: rgba(black, .15);
// DETALHES
$colorDetalhesPanel: rgba(white, 1);
$fontDetalhesPanel: $fontPadrao;
$sizeFontDetalhesPanel: 1.5rem;
$colorFontDetalhesPanel: rgba(black, .6);
// BUTTONS
$fontButton: $fontPadrao;