$size: 550px;
$tabSize: 600px;
$widthAccordion: 552px;
$heightAccordion: 500px;
$fontNumeros: 'Acme',
monospace;
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(3600deg);
    }
}

@keyframes rotation2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@mixin accordion {
    .panel-group {
        .panel-heading {
            padding: 0;
            .panel-title {
                a {
                    @include noSelection;
                    font-family: 'Droid Sans Mono';
                    font-weight: bold;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    position: relative;
                    display: block;
                    height: 40px;
                    line-height: 34px;
                    text-decoration: none;
                    cursor: pointer;
                    .trigger-left {
                        position: absolute;
                        left: 10px;
                        .text-horario {
                            position: absolute;
                            display: inline-block;
                            color: rgba(black, .6);
                            width: 100px;
                            top: 4px;
                            left: 30px;
                            margin-left: 10px;
                            font-size: 1.7rem;
                        }
                        .horario-icon {
                            margin-top: 8px;
                            color: rgba($materialPrimary, .8);
                        }
                    }
                    .trigger-right {
                        font-size: 1.4rem;
                        letter-spacing: .2rem;
                        text-align: right;
                        width: 260px;
                        position: absolute;
                        right: 10px;
                        height: 20px;
                        font-weight: normal;
                        .poltronas-text {
                            position: absolute;
                            left: 20px;
                            top: 4px;
                        }
                        .progress {
                            width: 100px;
                            height: 6px;
                            position: absolute;
                            left: 80px;
                            top: 18px;
                            box-shadow: none;
                            border: 1px solid rgba(black, .2);
                        }
                        .icon-save,
                        .icon-remove,
                        .icon-spin {
                            display: none;
                        }
                        .icon-arrow {
                            position: absolute;
                            top: 2px;
                            right: 0;
                            color: rgba($materialPrimary, .8);
                        }
                        .icon-passenger {
                            color: rgba($materialPrimary, .8);
                            font-size: 2rem;
                            position: absolute;
                            left: -10px;
                            top: 11px;
                        }
                    }
                    &[aria-expanded="true"] {
                        .icon-passenger,
                        .poltronas-text,
                        .progress {
                            display: none;
                        }
                        .icon-save,
                        .icon-remove,
                        .icon-spin,
                        .icon-arrow {
                            display: inline-block;
                        }
                        .icon-remove {
                            // color: $googleRed !important;
                            color: rgba($materialPrimary, .8);
                            position: absolute;
                            top: 2px;
                            right: 40px;
                        }
                        .icon-save {
                            color: rgba($materialPrimary, .8);
                            // color: $googleGreen;
                            position: absolute;
                            top: 2px;
                            right: 70px;
                        }
                        .icon-spin {
                            animation: rotation 10s infinite;
                            margin-top: 11px;
                        }
                    }
                }
            }
        }
        .not-allowed a {
            opacity: .2;
            cursor: not-allowed !important;
        }
        .panel-collapse {
            .panel-body {
                padding: 5px 0 5px 0;
                @content;
            }
        }
    }
}

@mixin accordionMini {
    .panel-group {
        .panel-heading {
            .panel-title {
                a {
                    .trigger-left {
                        .text-horario {}
                        .horario-icon {}
                    }
                    .trigger-right {
                        width: 120px;
                        .poltronas-icon {}
                        .progress {}
                        .icon-save,
                        .icon-remove,
                        .icon-spin {}
                        .icon-arrow {
                            line-height: 42px;
                        }
                    }
                    &[aria-expanded="true"] {
                        .icon-passenger,
                        .poltronas-text,
                        .progress {}
                        .icon-save,
                        .icon-remove,
                        .icon-spin,
                        .icon-arrow {}
                        .icon-remove {}
                        .icon-save {}
                        .icon-arrow {
                            // margin-top: -4px !important;
                        }
                        .icon-spin {}
                    }
                }
            }
        }
        .not-allowed a {}
        .panel-collapse {
            &.collapse.in {
                height: 560px;
            }
            .panel-body {
                @content;
            }
        }
    }
}

._3uJ__ ._1dY3Q {
    color: rgba(255, 255, 255, .2);
}

@mixin tabControl {
    @include accordion {
        @include busSelect(rgba($googleGreen, .8));
    }
    background-color: white;
    margin-top: 0;
    margin-bottom: 30px;
    border-radius: 7px !important;
    position: relative;
    @include sm {
        // border-radius: 7px 7px 20px 20px !important;
    }
    &.tab-xs {
        @include accordionMini {
            @include busSelectMini(rgba($googleGreen, .8));
        }
    }
    outline: none !important;
    section {
        outline: none !important;
        padding-bottom: 0;
        padding-top: 5px;
        @include sm {
            &._1Mp2k._3YHoU {
                padding-top: 10px;
            }
        }
    }
    .jumbo-info {
        font-family: "Days One";
        color: rgba($materialPrimary, .7) !important;
        margin-bottom: 6px;
        background-color: white;
        padding: 0 5px 5px 5px;
        &.ida {
            position: relative;
            .menu-ida {
                position: absolute;
                right: 0;
                top: -8px;
            }
            .tab-row {
                position: relative;
                width: 100%;
                height: 20px;
                i {
                    font-size: 1.7rem;
                    position: absolute;
                    top: 2px;
                    left: 0;
                    color: rgba($materialPrimary, .8) !important;
                }
                span {
                    position: absolute;
                    top: 0;
                    left: 30px;
                    color: rgba($materialPrimary, .8) !important;
                }
            }
        }
        &.volta {
            position: relative;
            .menu-volta {
                position: absolute;
                left: 0;
                top: -8px;
            }
            .tab-row {
                position: relative;
                width: 100%;
                height: 20px;
                i {
                    font-size: 1.7rem;
                    position: absolute;
                    top: 2px;
                    right: 0;
                    color: rgba($materialPrimary, .8) !important;
                }
                span {
                    position: absolute;
                    top: 0;
                    right: 30px;
                    color: rgba($materialPrimary, .8) !important;
                }
            }
        }
    }
    .footer-section {
        border-radius: 0 0 4px 4px !important;
        background-color: $materialPrimary;
        height: 60px;
        position: relative;
        text-align: left;
        padding-left: 40px;
        margin: 12px -12px 0 -12px;
        .button-finaliza {
            position: absolute;
            z-index: 9;
            right: 20px;
            bottom: -20px;
        }
        &>span {
            color: rgba(white, .8);
            font-size: 2rem;
            line-height: 60px;
            font-family: "Days One"
        }
    }
    .tab-arrow {
        position: absolute;
        font-size: 3rem;
        top: 100px;
        color: rgba(white, .05);
        left: 10px;
    }
    .tab-menu {
        position: absolute;
        z-index: 9;
        right: -28px;
        top: 56px - 15px;
        button {
            background-color: $materialPrimaryLight !important;
        }
    }
    nav {
        font-family: "Days One";
        border-top-left-radius: 4px !important;
        border-top-right-radius: 4px !important;
        background-color: $materialPrimary;
    }
    .panel-group {
        margin-bottom: 0;
    }
    // .text-nenhum-resultado {}
    // .tab-ida {
    //     background: url(./styles/images/tab-ida.svg) no-repeat left fixed;
    //     background-attachment: scroll;
    // }
    // .tab-volta {
    //     background: url(./styles/images/tab-volta.svg) no-repeat right fixed;
    //     background-attachment: scroll;
    // }
}

@mixin busSelect($seatColor) {
    @include loader(550px, 180px);
    .bus-seat-select {
        background-color: white;
        position: relative;
        width: $size !important;
        height: 180px !important;
        border-radius: 4px;
        padding: 10px;
        .bus-row {
            padding: 0 10px 0 22px;
            .label {
                font-family: $fontNumeros;
                text-shadow: 1px 1px rgba(black, .3);
                @include noSelection();
                // @include boxShadow(inset -1px -1px 1px 0px rgba(0, 0, 0, 0.25));
                background: url(./styles/images/busseat-green-4.svg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                //   background-size: cover;
                color: white;
                // background-color: $seatColor;
                margin-right: 8px;
                padding: 8px 3px 0 0;
                font-size: 1.5rem;
                float: left;
                height: 32px !important;
                width: 32px !important;
                cursor: pointer;
                &.reserved {
                    cursor: not-allowed;
                    text-shadow: none;
                    background: url(./styles/images/busseat-reserved.svg);
                    // background-color: rgba($colorReserved, .15);
                    color: rgba(black, .2);
                }
                &.selected {
                    // background-color: $colorSelected;
                    background: url(./styles/images/busseat-red.svg);
                }
                &.legenda {
                    cursor: default;
                }
            }
            &.corredor-acima {
                padding-top: 0;
                padding-bottom: 8px;
            }
            &.corredor-abaixo {
                padding-top: 8px;
                padding-bottom: 0;
            }
            &.bus-row-legenda {
                padding-left: 0;
                padding-right: 15px;
            }
            &.bus-row.row {
                padding-left: 56px;
            }
        }
    }
    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .clean-bus {
        padding-top: 0;
        padding-bottom: 0;
    }
    .jumbotron {
        background: url(./styles/images/seats2.svg) no-repeat center white;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-bottom: 0;
        height: 100% !important;
        padding: 8px 15px 5px 30px;
    }
}

@mixin busSelectMini($seatColor) {
    @include loader(280px, 560px);
    position: relative;
    .bus-seat-select {
        @include transform(rotate(90deg));
        position: absolute;
        left: -135px;
        top: 190px;
        .bus-row {
            .label {
                span {
                    display: inline-block;
                    @include transform(rotate(-90deg));
                }
                &.reserved {}
                &.selected {}
                &.legenda {}
            }
            &.corredor-acima {}
            &.corredor-abaixo {}
            &.bus-row-legenda {}
            &.bus-row.row {}
        }
    }
    hr {}
    .clean-bus {}
    .jumbotron {}
}

.comprar-passagem-container {
    .opcoes-menu {
        position: absolute;
        z-index: 9;
        right: 20px;
        bottom: -20px;
    }
    .button-editar {
        position: absolute;
        z-index: 9;
        right: 20px;
        bottom: -20px;
        background-color: $materialPrimaryLight !important;
    }
    @include containerHeight;
    .form-passagem-container {
        position: relative;
        background-color: transparent;
        border: none;
        width: 300px; // SM
        $left: calc(50% - 150px); // SM
        margin: 106px 0 0 $left !important; // SM 
        .form-centered {
            width: inherit;
            .jumbo-comprar {
                background-color: rgba(white, .6);
            }
            .btn-revisar {
                width: calc(100% - 5px);
                height: 60px;
                @include boxShadow(inset -1px -1px 1px 0px rgba(0, 0, 0, 0.25));
                line-height: 20px;
                font-weight: 100;
                margin-top: 20px;
                font-size: 2.2rem;
                font-family: $fontPadrao;
                .finalizar-text {
                    margin-left: 15px;
                }
                .icon-review {
                    width: 32px;
                    height: 32px;
                    opacity: .5;
                }
            }
            width: inherit;
            .horarios-container {
                // position: relative;
                // width: $tabSize;
                width: 100%;
                // left: 0;
                left: calc(50% - 175px);
                .tab-horarios {
                    @include tabControl;
                }
            }
        }
    }
    &::after {
        @include bkgImage('tree22.jpg');
    }
}

@include sm {
    .comprar-passagem-container {
        &::after {
            @include bkgImage('tree22.jpg');
        }
        .form-passagem-container {
            width: 578px; // SM
            $left: calc(50% - 289px); // SM
            margin: 213px 0 0 $left !important; // SM 
        }
    }
}