.comprar-passagem-container {
    @include containerHeight();
    .form-passagem-container {
        margin-top: 15px;
        .form-centered {
            width: inherit;
            .form-header {
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                margin: 0;
                padding: 10px;
                padding-left: 20px;
                padding-left: -15px !important;
                background-color: rgba(black, .05);
                .form-title {
                    font-family: "Gruppo";
                    font-size: 2rem;
                }
            }
            .jumbotron {
                .text-left.row.first {
                    padding-top: 60px;
                }
                .btn-limpar {
                    margin-right: 10px;
                }
                .input-col {
                    margin-top: 10px;
                }
                input#data {
                    background-color: white;
                }
                .error-empty {
                    color: rgb(169, 68, 66);
                    font-size: inherit;
                }
            }
        }
    }
    &::after {
        @include bkgImage();
    }
    @include sm {
        .form-passagem-container {
            margin-top: 50px;
        }
    }
}