@import url('https://fonts.googleapis.com/css?family=Changa+One|Ubuntu+Mono|Share+Tech+Mono|Oswald|Share|Acme|Source+Code+Pro|Roboto+Mono');
$size: 550px;
$tabSize: 600px;
$widthAccordion: 552px;
$heightAccordion: 500px;
$tabColor: rgba(black,
.1);
$tabBorderColor: rgba(black,
.1);
$tabBorderColorEx: rgba(black,
.2);
$fontNumeros: 'Acme',
monospace;
@mixin labelData {
    font-family: $fontNumeros;
    font-weight: 100;
    font-size: 1.5rem;
    padding-top: 2px;
    padding-bottom: 3px;
    @include boxShadow(inset -1px -1px 1px 0px rgba(0, 0, 0, 0.25));
    span {
        color: white;
    }
}

@mixin collapseTrigger($width) {
    // font-family: 'Carrois Gothic', sans-serif;
    font-family: 'Roboto Mono';
    // font-family: $fontNumeros;
    font-weight: 100;
    font-size: 1.5rem;
    width: $width !important;
    position: relative;
    left: 0;
    .icon {
        line-height: 19px;
    }
}

@mixin accordion($borderColor) {
    width: $widthAccordion !important;
    margin-bottom: 6px;
    background-color: transparent;
    border: 1px solid rgba(black, .25);
    border-radius: 5px;
    &__trigger.is-open {
        .collapse-trigger-button {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            @include collapseTrigger($size);
        }
    }
    &__trigger.is-closed {
        .collapse-trigger-button {
            @include collapseTrigger($size);
        }
    }
    @content;
}

@mixin tabControl {
    width: $tabSize - 5px;
    .nav-tabs {
        border: none;
        li {
            height: 43px;
            width: 50%;
            &>a,
            &>a:active,
            &>a:hover,
            &>a:focus {
                margin-right: 0;
                background-color: transparent;
                outline: none;
                border-color: transparent;
                color: rgba(darkslategrey, .2);
                position: relative;
                height: 42px;
                font-family: $fontNumeros;
                font-weight: 900;
                font-size: 1.8rem;
                .icon-group-before {
                    margin-right: 8px;
                }
                .tab-left {
                    color: rgba(black, .45);
                    font-family: 'Days One';
                    font-weight: bold;
                    font-size: 1.7rem;
                    .icon-ida {
                        width: 40px !important;
                        height: 40px !important;
                    }
                }
            }
            &:not(.active)>a,
            &:not(.active)>a:active,
            &:not(.active)>a:hover,
            &:not(.active)>a:focus {
                padding: 0;
                height: 39px;
                border: 1px solid rgba(black, .06);
                background-color: rgba(black, .03);
                border-radius: 4px;
                .label {
                    background-color: transparent;
                    color: rgba(darkslategrey, .2);
                }
                .tab-left {
                    color: rgba(black, .15);
                    .icon-ida {
                        opacity: .2;
                    }
                }
            }
            &.active>a,
            &.active>a:active,
            &.active>a:hover,
            &.active>a:focus {
                padding: 3px 0 0 0;
                background-color: $tabColor;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                border-top: 1px solid $tabBorderColor;
                border-right: 1px solid $tabBorderColor;
                border-left: 1px solid $tabBorderColor;
                border-bottom: none;
            }
            &.active>a#tab-horarios-tab-1 {
                width: calc(100% - 3px);
                color: rgba($googleGreen, .7) !important;
            }
            &:not(.active)>a#tab-horarios-tab-1 {
                width: calc(100% - 3px);
            }
            &.active>a#tab-horarios-tab-2 {
                color: rgba($googleRed, .7) !important;
            }
            &:not(.active)>a#tab-horarios-tab-2 {}
        }
    }
    &.tab-control-only-ida .nav-tabs li.active {
        width: calc(100% + 3px);
    }
    .tab-content {
        // min-height: 285px;
        position: relative;
        background-color: $tabColor;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 19px 20px 13px 21px;
        border-bottom: 1px solid $tabBorderColor;
        border-right: 1px solid $tabBorderColor;
        border-left: 1px solid $tabBorderColor;
        border-top: none;
        .accordion-ida {
            @include accordion(rgba($googleGreen, .3)) {
                @include busSelect(rgba($googleGreen, .8));
            }
        }
        .accordion-volta {
            @include accordion(rgba($googleRed, .3)) {
                @include busSelect(rgba($googleRed, .8));
            }
        }
    }
}

@mixin busSelect($seatColor) {
    .bus-seat-select {
        background-color: rgba(white, .8);
        position: relative;
        width: $size !important;
        height: 180px !important;
        border-radius: 4px;
        padding: 10px;
        .bus-row {
            padding: 0 10px 0 22px;
            $colorFree: rgb(51, 180, 255);
            $colorSelected: #FFCC3E;
            $colorReserved: black;
            .label {
                font-family: $fontNumeros;
                text-shadow: 1px 1px rgba(black, .3);
                @include noSelection();
                // @include boxShadow(inset -1px -1px 1px 0px rgba(0, 0, 0, 0.25));
                background: url(./styles/images/busseat-green-2.svg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                //   background-size: cover;
                color: white;
                // background-color: $seatColor;
                margin-right: 8px;
                padding: 8px 3px 0 0;
                font-size: 1.5rem;
                float: left;
                height: 32px !important;
                width: 32px !important;
                cursor: pointer;
                &.reserved {
                    cursor: not-allowed;
                    text-shadow: none;
                    background: url(./styles/images/busseat-reserved.svg);
                    // background-color: rgba($colorReserved, .15);
                    color: rgba(black, .3);
                }
                &.selected {
                    // background-color: $colorSelected;
                    background: url(./styles/images/busseat-selected.svg);
                }
                &.legenda {
                    cursor: default;
                }
            }
            &.corredor-acima {
                padding-top: 0;
                padding-bottom: 8px;
            }
            &.corredor-abaixo {
                padding-top: 8px;
                padding-bottom: 0;
            }
            &.bus-row-legenda {
                padding-left: 0;
                padding-right: 15px;
            }
            &.bus-row.row {
                padding-left: 56px;
            }
        }
    }
    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .clean-bus {
        padding-top: 0;
        padding-bottom: 0;
    }
    .jumbotron {
        background: url(./styles/images/seats.svg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-bottom: 0;
        height: 100% !important;
        padding: 8px 15px 5px 30px;
    }
}

@mixin navbarTrajeto {
    background-color: #FFCC3E;
    font-family: 'Days One', sans-serif;
    font-size: 1.7rem;
    .text-trajeto {
        @include noSelection;
        line-height: 50px;
        color: rgba(black, .5);
        margin-top: 0;
        margin-bottom: 0;
        .text-trajeto-cidades-icondestino {
            margin-left: 20px;
        }
        .text-trajeto-data {
            &-ida {
                background-color: $googleGreen;
                @include labelData;
            }
            &-volta {
                background-color: $googleRed;
                margin-left: 10px;
                @include labelData;
            }
        }
        .icon {
            color: rgba(black, .3);
        }
        .delimiter {
            margin-left: 25px;
            margin-right: 25px;
            color: rgba(black, .3);
        }
    }
    .text-config {
        @include noSelection;
        line-height: 47px;
        color: rgba(black, .5);
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
    }
    &::after {
        @include afterShadow;
    }
}

@mixin detalhes {
    // background-color: rgba(black, .1);
    background: url(./styles/images/ticket.svg) no-repeat center #fff;
    // background-size: 230px 200px;
    float: left;
    position: absolute;
    top: 0;
    left: -250px;
    width: 230px;
    height: 255px;
    // height: calc(100% - 37px);
    // background-color: white !important;
    // @include boxShadow(inset -1px -1px 1px 0px rgba(0, 0, 0, 0.35));
    border: 1px solid rgba(black, .1) !important;
    .detalhes-info {
        font-family: 'Ubuntu Mono';
        // font-weight: bold;
        font-size: 1.5rem;
        .data-ida,
        .hora-ida {
            color: #4CAF50;
        }
        .data-volta,
        .hora-volta {
            color: #F44336;
        }
        // .hora {
        //     color: #304FFE;
        // }
        .origem,
        .destino {
            color: #FF9800;
        }
        .label-poltrona-ida {
            background-color: #4CAF50;
            margin-left: 3px;
        }
        .label-nenhuma-ida {
            color: #4CAF50;
        }
        .label-poltrona-volta {
            background-color: #F44336;
        }
        .label-nenhuma-volta {
            color: #F44336;
        }
        .btn-continuar {
            // @include boxShadow(inset -1px -1px 1px 0px rgba(0, 0, 0, 0.35));
            margin-top: 15px;
            font-family: 'Days One';
            position: relative;
            // .icon-continuar {
            //     font-size: 2rem;
            // }
            &:hover {
                .text-confirmar {}
            }
        }
    }
}

.comprar-passagem-container {
    @include containerHeight;
    .navbar-trajeto {
        @include navbarTrajeto;
    }
    .form-passagem-container {
        margin-top: 15px;
        .form-centered {
            .btn-revisar {
                width: calc(100% - 5px);
                height: 60px;
                @include boxShadow(inset -1px -1px 1px 0px rgba(0, 0, 0, 0.25));
                line-height: 20px;
                font-weight: 100;
                margin-top: 20px;
                font-size: 2.2rem;
                font-family: 'Days One';
                .finalizar-text {
                    margin-left: 15px;
                }
                .icon-review {
                    width: 32px;
                    height: 32px;
                    opacity: .5;
                }
            }
            width: inherit;
            .horarios-container {
                position: relative;
                width: $tabSize;
                left: calc(50% - 175px);
                #tab-horarios {
                    @include tabControl;
                }
                .detalhes-container {
                    @include detalhes;
                }
            }
        }
    }
    &::after {
        @include bkgImage;
    }
    @include sm {
        .form-passagem-container {
            margin-top: 50px;
        }
    }
}