@import url('https://fonts.googleapis.com/css?family=Ubuntu|Oxygen|Roboto+Condensed|Open+Sans|Ubuntu+Mono|Share+Tech+Mono|Acme|Source+Code+Pro|Roboto+Mono');
@font-face {
    font-family: 'Roboto';
    src: url(./styles/fonts/Roboto-Regular.ttf) format('trueType');
}

@font-face {
    font-family: 'Gruppo';
    src: url(./styles/fonts/Gruppo-Regular.ttf) format('trueType');
}

@font-face {
    font-family: 'Days One';
    src: url(./styles/fonts/DaysOne-Regular.ttf) format('trueType');
}

@font-face {
    font-family: 'Patua One';
    src: url(./styles/fonts/PatuaOne-Regular.ttf) format('trueType');
}

@font-face {
    font-family: 'Roboto Slab';
    src: url(./styles/fonts/RobotoSlab-Regular.ttf) format('trueType');
}