.loading-dialog-container {
    cursor: wait;
    .modal-dialog {
        width: 300px;
        .modal-content {
            background-color: lighten($materialPrimary, 10%);
            color: white;
            border-radius: 6px;
            @include noSelection();
            font-size: 1.5rem;
            font-weight: bold;
            .icon-saving {
                font-size: 2rem;
                color: white;
                // color: $googleBlue;
            }
            .icon-feedback {
                font-size: 2rem;
                color: white;
            }
            .loading-text-after-icon {
                margin-left: 15px;
            }
        }
    }
}