.login-container {
    height: calc(100% - 150px) !important;
    $boxWidth: 320px;
    $boxBgColor: rgba(white, .3);
    $headerHeight: 60px;
    $headerTitleWidth: 220px;
    $headerTitleMainColor: black;
    $headerTitleMainFontSize: 2.5rem;
    $headerTitleMainLineHeight: 30px;
    $headerIconWidth: 60px;
    $headerIconFontSize: 2.5rem;
    $inputBorderColor: rgba(255, 255, 255, .7);
    @include centralizeContent();
    .login-box {
        text-align: left;
        position: relative;
        width: $boxWidth;
        border: 1px solid rgba(0, 0, 0, .1);
        background-color: $boxBgColor;
        border-radius: 8px;
        padding: 15px 20px;
        .login-header {
            height: $headerHeight;
            margin-bottom: 15px;
            position: relative;
            .login-header--title {
                position: absolute;
                left: 0;
                display: inline;
                width: $headerTitleWidth;
                height: inherit;
                .login-header--title-main {
                    color: rgba($headerTitleMainColor, .5);
                    line-height: $headerTitleMainLineHeight;
                    font-size: $headerTitleMainFontSize;
                    font-weight: bold;
                    font-family: 'Roboto';
                }
                .login-header--title-sub {
                    margin-top: 6px;
                    color: rgba($headerTitleMainColor, .5);
                }
            }
            .login-header--icon {
                position: absolute;
                left: $headerTitleWidth;
                display: inline;
                width: $headerIconWidth;
                height: inherit;
                .main-icon {
                    font-size: $headerIconFontSize;
                    color: rgba($headerTitleMainColor, .5);
                    margin-right: 5px;
                }
            }
        }
    }
    @media screen and (min-width: 320px) {}
    @media screen and (min-width: 480px) {
        .login-box {
            width: 360px;
        }
        .login-header--icon {
            left: 260px !important;
        }
    }
    @media screen and (min-width: 768px) {}
    @media screen and (min-width: 992px) {}
    @media screen and (min-width: 1200px) {}
}

.login-container::after {
    content: "";
    background: url(./styles/images/tree.jpg);
    background-attachment: scroll;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}