.login-container {
    height: calc(100% - 150px) !important;
    $boxBgColor: rgba(white, 1);
    $headerHeight: 40px;
    $headerTitleWidth: 220px;
    $headerTitleMainColor: black;
    $headerTitleMainFontSize: 2.5rem;
    $headerTitleMainLineHeight: 30px;
    $headerIconWidth: 85px;
    $headerIconFontSize: 2.5rem;
    $inputBorderColor: rgba(255, 255, 255, .7);
    padding: 30px 0 0 calc(50% - 150px);
    @include xs {
        padding: 0;
        @include centralizeContent();
    }
    &.loading {
        cursor: wait !important;
        input,
        button,
        a,
        .label {
            cursor: wait !important;
        }
    }
    .login-box {
        // opacity: .9;
        text-align: left;
        position: relative;
        padding: 0;
        width: 300px;
        @include xs {
            width: 360px !important;
        }
        border: none;
        background-color: $boxBgColor;
        border-radius: 4px 4px 20px 30px;
        // .with-spinner {
        //     height: 230px;
        //     position: relative;
        //     .spinner-progress {
        //         position: absolute;
        //         top: calc(50% - 30px);
        //         left: calc(50% - 30px);
        //     }
        // }
        form {
            .main-section,
            .footer-section {
                margin: 0;
                padding: 40px;
            }
            .main-section {
                padding: 30px 40px 30px 30px;
                @include xs {
                    padding: 40px 50px 40px 40px;
                }
            }
            .footer-section {
                @include loadingProgress;
                padding: 0 0 0 40px;
                background-color: $materialPrimary;
                height: 60px;
                border-radius: 0 0 4px 4px;
                position: relative;
                span {
                    color: rgba(white, .8);
                    font-size: 2rem;
                    line-height: 60px;
                    font-family: "Days One"
                }
            }
            .btn-login {
                position: absolute;
                right: 20px;
                bottom: -20px;
            }
        }
    }
    // &::after {
    //     @include bkgImage('tree22.jpg');
    // }
}

@include sm {
    .login-container {
        // &::after {
        //     @include bkgImage('tree22.jpg');
        // }
    }
}