.login-container {
    height: calc(100% - 150px) !important;
    $boxWidth: 320px;
    $boxBgColor: rgba(white, .95);
    $headerHeight: 40px;
    $headerTitleWidth: 220px;
    $headerTitleMainColor: black;
    $headerTitleMainFontSize: 2.5rem;
    $headerTitleMainLineHeight: 30px;
    $headerIconWidth: 85px;
    $headerIconFontSize: 2.5rem;
    $inputBorderColor: rgba(255, 255, 255, .7);
    @include centralizeContent();
    .login-box {
        // opacity: .9;
        text-align: left;
        position: relative;
        width: $boxWidth;
        border: none;
        background-color: $boxBgColor;
        padding: 0;
        border-radius: 4px 4px 20px 30px;
        form {
            .main-section,
            .footer-section {
                margin: 0;
                padding: 40px;
            }
            .main-section {
                padding: 40px;
            }
            .footer-section {
                padding: 0 0 0 40px;
                background-color: $materialPrimary;
                height: 60px;
                border-radius: 0 0 4px 4px;
                span {
                    color: rgba(white, .8);
                    font-size: 2rem;
                    line-height: 60px;
                    font-family: "Days One"
                }
            }
            .btn-login {
                position: absolute;
                right: 20px;
                bottom: -28px;
            }
        }
    }
    &::after {
        @include bkgImage('login3.jpg');
    }
    @include xs {
        .login-box {
            width: 360px;
        }
    }
}