$arrowSize: 6px;
@mixin arrowUp {
    content: '';
    position: absolute;
    left: 15px;
    top: (1px - $arrowSize);
    width: 0;
    height: 0;
    border-left: $arrowSize solid transparent;
    border-right: $arrowSize solid transparent;
    border-bottom: $arrowSize solid $colorHasError;
    clear: both;
}

// material date picker
._3niLM {
    z-index: 9999;
}

.modal-trajeto-container {
    .rdtDays {
        color: initial;
    }
    .modal-dialog {
        border-radius: 4px 4px 20px 20px;
        input#data {
            background-color: white;
        }
        width: 300px;
        margin-left: calc(50% - 150px);
        margin-top: 80px;
        @include xs {
            width: 360px;
            margin-left: calc(50% - 180px);
        }
        .modal-content {
            background-color: white;
            border: none;
            .modal-header {
                background-color: white;
                border-radius: 4px !important;
                color: rgba($materialPrimary, 1);
                padding: 20px 40px 10px 40px !important;
                border-bottom: none;
                font-family: $fontPadrao;
                font-size: 2rem;
                line-height: 51px;
                .ida-volta {
                    span {
                        font-size: 2.4rem;
                    }
                    margin-top: 7px;
                }
            }
            .modal-body {
                padding: 10px 40px 30px 30px !important;
                .col-ida,
                .col-volta {
                    padding-right: 15px;
                }
                // dropdown li
                ._2_qrE>* {
                    cursor: pointer !important;
                    &:hover {
                        background-color: rgba(black, .05);
                    }
                }
                // dropdown selected
                ._2u-08 {
                    color: #F0AD4E !important;
                    font-weight: bold;
                }
            }
            .modal-footer {
                @include loadingProgress;
                border-top: none;
                background-color: $materialPrimary;
                text-align: left;
                padding: 0 0 0 40px;
                height: 60px !important;
                border-radius: 0 0 4px 4px;
                position: relative;
                span {
                    color: rgba(white, .8);
                    font-size: 2rem;
                    line-height: 60px;
                    font-family: "Days One";
                }
            }
            .btn-buscar {
                position: absolute;
                right: 20px;
                bottom: -20px;
            }
            @include noSelection();
            font-size: 1.5rem;
            .loading-text-after-icon {
                margin-left: 15px;
            }
        }
    }
}

// .sliding-middle-out {
//     // display: inline-block;
//     position: relative;
//     padding-bottom: 3px;
// }
// .sliding-middle-out:after {
//     content: '';
//     display: block;
//     margin: auto;
//     height: 3px;
//     width: 0px;
//     background: transparent;
//     transition: width .5s ease, background-color .5s ease;
// }
// .sliding-middle-out:focus:after {
//     width: 100%;
//     background: blue;
// }