$arrowSize: 6px;
@mixin arrowUp {
    content: '';
    position: absolute;
    left: 15px;
    top: (1px - $arrowSize);
    width: 0;
    height: 0;
    border-left: $arrowSize solid transparent;
    border-right: $arrowSize solid transparent;
    border-bottom: $arrowSize solid $colorHasError;
    clear: both;
}

.modal-trajeto-container {
    .rdtDays {
        color: initial;
    }
    .modal-dialog {
        border-radius: 4px 4px 20px 20px;
        input#data {
            background-color: white;
        }
        width: 340px;
        .modal-content {
            background-color: white;
            border: none;
            .modal-header {
                background-color: white;
                border-radius: 4px !important;
                color: rgba($materialPrimary, 1);
                padding: 20px 40px 10px 40px !important;
                border-bottom: none;
                font-family: $fontPadrao;
                font-size: 2rem;
                line-height: 51px;
                .ida-volta {
                    font-size: 2rem;
                    line-height: 51px !important;
                    cursor: pointer;
                }
                .icon-ida-volta {}
            }
            .modal-body {
                padding: 10px 40px 30px 40px !important;
                .Select-control {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
                .Select-menu-outer {
                    z-index: 101;
                }
                .input-date input {
                    background-color: white !important;
                    color: black !important;
                    border-radius: 4px !important;
                    border-top-left-radius: 0 !important;
                    border-bottom-left-radius: 0 !important;
                    z-index: 100;
                }
                .input-group-addon {
                    border-top-left-radius: 6px;
                    border-bottom-left-radius: 6px;
                    &.addon-blue span {
                        color: $busOrange;
                    }
                    &.addon-green span {
                        color: $googleGreen;
                    }
                    &.addon-red span {
                        color: $googleRed;
                    }
                }
                .rdtPicker {
                    margin-top: 35px;
                    left: -37px;
                }
                .col-ida {
                    padding-right: 15px;
                }
                .col-volta {
                    padding-left: 15px;
                }
                .col-ida-com-volta {}
                .col-volta-com-volta {}
                .has-error {
                    .Select-control {
                        border: 1px solid $colorHasError;
                        .Select-arrow {
                            border-color: $colorHasError rgba(0, 0, 0, 0) rgba(0, 0, 0, 0)
                        }
                        .Select-value-label {
                            color: $colorHasError;
                        }
                    }
                    .bloco-ajuda {
                        margin-top: 7px;
                        position: relative;
                        .label {
                            @include boxShadow(inset -1px -1px 1px 0px rgba(0, 0, 0, 0.25));
                            font-size: 1.1rem;
                            background-color: $colorHasError;
                            color: white;
                            padding: 5px 10px 5px 10px;
                            border-radius: 3px;
                            &::before {
                                @include arrowUp;
                            }
                        }
                    }
                }
            }
            .modal-footer {
                border-top: none;
                background-color: $materialPrimary;
                text-align: left;
                padding: 0 0 0 40px;
                height: 60px !important;
                border-radius: 0 0 4px 4px;
                span {
                    color: rgba(white, .8);
                    font-size: 2rem;
                    line-height: 60px;
                    font-family: "Days One";
                }
            }
            .btn-buscar {
                position: absolute;
                right: 20px;
                bottom: -20px;
            }
            @include noSelection();
            font-size: 1.5rem;
            .loading-text-after-icon {
                margin-left: 15px;
            }
        }
    }
}