.navheader-container {
    .navbar {
        &::after {
            @include afterShadow;
        }
        border-radius: 0;
        background-color: $colorNavbarHeader !important;
        margin-bottom: 0;
        border: none;
        padding: 0;
        text-align: left;
        .navheader-nav {
            a {
                padding-left: 0 !important; // SM
            }
        }
        .navbar-nav {
            margin-left: 20px;
            padding-right: 0 !important;
            .page-title,
            .icon-title {
                color: rgb(233, 233, 233);
            }
            .page-title {
                font: {
                    family: $fontNavbarHeader;
                    size: 3rem !important; // SM
                }
                color: $textNavbarHeader !important;
                padding-left: 0; // SM
                @include textShadow(.8);
            }
            .icon-title.links {
                font-size: 2rem;
                color: $textNavbarHeader !important;
                &:hover {
                    color: white !important;
                }
            }
            .resultados {
                font-size: 1.5rem;
                margin-right: 20px;
                a,
                a:hover {
                    color: rgb(119, 119, 119) !important;
                }
                .icon {
                    font-size: 2rem;
                }
            }
        }
    }
}

@include sm {
    .navheader-container {
        .navbar {
            .navheader-nav {
                a {
                    padding-left: 20px !important;
                }
            }
            .navbar-nav {
                .page-title {
                    font: {
                        family: $fontNavbarHeader;
                        size: $sizeFontNavbarHeader !important;
                    }
                    padding-left: 30px;
                }
            }
        }
    }
}