.navbar {
    .container {
        margin-left: 0 !important;
    }
}

.App {
    .navbar.nav-app {
        background: $colorNavbarPrincipal;
        text-align: left;
        margin-bottom: 0;
        border: none;
        border-radius: 0;
        .container {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
            .sub-row {
                margin-top: 20px;
            }
            .navbar-collapse.collapse {
                position: relative;
                padding-left: 0;
                padding-right: 0;
                &.in {
                    text-align: left;
                }
            }
            .navbrand-login,
            .navbrand-logout {
                padding-top: 12px;
                margin-right: 20px;
                .header-title {
                    color: $brandNavbarPrincipal;
                    margin-left: 15px;
                    font-size: 2.2rem;
                    font-family: $fontPadrao;
                    font-weight: bold;
                }
                .App-logo {
                    color: $brandNavbarPrincipal;
                    font-size: 2.5rem;
                }
            }
            .navbrand-logout {
                // position: absolute;
                // left: calc(50% - 9rem);
            }
            .navbar-nav {
                margin-left: 20px;
                span {
                    color: $textNavbarPrincipal;
                }
                // &.nav-user {
                //     padding-right: 80px;
                // }
            }
            .navbar-text {
                a {
                    text-decoration: none !important;
                    span {
                        color: $textNavbarPrincipal;
                    }
                }
            }
            .nav-fontes {
                margin: 0 0 0 33px;
            }
        }
    }
    @include sm {
        .navbar.nav-app .container .nav-fontes {
            margin: 15px 0 15px 13px;
        }
    }
}