.navheader-container {
    .navbar {
        background-color: #2d2d2d;
        margin-bottom: 0;
        border: none;
        padding: 0;
        text-align: left;
        .navbar-nav {
            margin-left: 0px;
            .page-title,
            .icon-title {
                color: rgb(233, 233, 233);
            }
            .page-title {
                font: {
                    family: "Gruppo";
                    size: 2rem;
                    weight: bold;
                }
            }
            .icon-title.links {
                font-size: 2rem;
                color: rgb(157, 157, 157);
                &:hover {
                    color: white;
                }
            }
            .resultados {
                font-size: 1.5rem;
                margin-right: 20px;
                a,
                a:hover {
                    color: rgb(119, 119, 119) !important;
                }
                .icon {
                    font-size: 2rem;
                }
            }
        }
    }
}