.navbar {
    .container {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .navbar-nav {
        margin-left: 50px;
    }
    .App-logo {
        animation: App-logo-spin infinite 5s linear;
        color: rgb(240, 173, 78);
    }
    .header-title {
        color: rgb(240, 173, 78);
        margin-left: 10px;
        font-size: 2.5rem;
        font-family: "Gruppo";
        font-weight: bold;
    }
    border-radius: 0;
}

// .tooltip>.tooltip-inner {
//     background-color: red;
// }
// .tooltip.bottom>.tooltip-arrow {
//     border-bottom-color: red;
// }
// .tooltip.top>.tooltip-arrow {
//     border-top-color: red;
// }
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}