.perfil-usuario-container {
    @include containerHeight();
    .jumbotron {
        margin-top: 76px;
        position: relative;
        padding: 0;
        background-color: rgba(white, 1);
        .main-section,
        .footer-section {
            margin: 0;
            padding: 40px;
            text-align: left;
        }
        .main-section {
            padding: 40px;
        }
        .footer-section {
            @include loadingProgress;
            padding: 0 0 0 40px;
            background-color: $materialPrimary;
            height: 60px;
            border-radius: 0 0 4px 4px;
            position: relative;
            span {
                color: rgba(white, .8);
                font-size: 2rem;
                line-height: 60px;
                font-family: "Days One"
            }
        }
        .btn-salvar {
            position: absolute;
            right: 20px;
            bottom: -20px;
        }
    }
    // &::after {
    //     @include bkgImage('tree22.jpg');
    // }
}

@include sm {
    .perfil-usuario-container {
        &::after {
            @include bkgImage('tree22.jpg');
        }
        .jumbotron {
            margin-top: 213px;
        }
    }
}