.pesquisar-passagens-container {
    @include containerHeight();
    div.animated {
        text-align: center;
        table {
            border-radius: 8px 8px 4px 4px !important;
            .header-poltronas {
                cursor: default !important;
                &:hover {
                    i,
                    span {
                        color: rgba(white, .6) !important;
                    }
                }
            }
            td {
                border: none;
            }
            thead {
                tr {
                    background-color: rgba($materialPrimary, 1);
                    border-bottom: 2px solid $materialAccent;
                }
                th {
                    @include noSelection;
                    padding-top: 20px;
                    padding-bottom: 10px !important;
                    &:first-child {
                        padding-left: 50px;
                        border-top-left-radius: 4px !important;
                    }
                    &:last-child {
                        padding-right: 50px;
                        border-top-right-radius: 4px !important;
                    }
                    padding-bottom: 0;
                    div {
                        display: inline-flex;
                        text-justify: center;
                        align-items: center;
                        cursor: pointer;
                        i,
                        span {
                            color: rgba(white, .6);
                        }
                        i {
                            font-size: 1.7rem;
                        }
                        span {
                            margin-left: 10px;
                        }
                        &:hover {
                            i,
                            span {
                                color: rgba(white, 1);
                            }
                        }
                    }
                }
            }
            tbody {
                tr {
                    border-top: 1px solid rgba($materialPrimary, .05);
                    td {
                        &:first-child {
                            padding-left: 50px;
                        }
                        &:last-child {
                            padding-right: 50px;
                        }
                    }
                    &:first-child {
                        td {
                            padding-top: 20px;
                        }
                    }
                    &:last-child {
                        td {
                            padding-bottom: 30px;
                        }
                    }
                }
            }
        }
        .pagination-pesquisa {
            margin-top: 76px;
            @include sm {
                margin-top: 213px;
            }
            li a {
                background-color: rgba(white, 1);
                border-color: rgba(#2d2d2d, .3);
                color: #2d2d2d;
            }
            li.active a {
                background-color: rgba($materialPrimary, 1);
                border-color: $materialPrimary !important;
                color: white;
            }
        }
    }
    @include sm {
        &::after {
            // @include bkgImage();
        }
    }
}