.pesquisar-passagens-container {
    .text-after-icon {
        margin-left: 8px;
    }
    .icon-table {
        color: rgba(black, .5);
        &.arrow-trajeto {
            color: green;
            margin-left: 15px;
            margin-right: 15px;
        }
        &.data {
            color: rgb(66, 133, 244);
            margin-right: 6px;
        }
        &.horario {
            color: goldenrod;
            margin-left: 15px;
            margin-right: 6px;
        }
    }
    .label-poltrona {
        margin-right: 4px;
    }
    th {
        cursor: pointer;
    }
}