.pesquisar-passagens-container {
    @include containerHeight();
    div.animated {
        text-align: left;
        @include xs {
            text-align: center;
        }
        .jumbotron {
            background-color: white;
            .icon-table {
                color: rgba(black, .5);
                &.arrow-trajeto {
                    color: $materialPrimary;
                    margin: {
                        left: 15px;
                        right: 15px;
                    }
                }
                &.data {
                    color: $materialPrimary;
                    margin-right: 6px;
                }
                &.horario {
                    color: $materialPrimary;
                    margin: {
                        left: 15px;
                        right: 6px;
                    }
                }
            }
            .label-poltrona {
                margin-right: 4px;
                background-color: rgba($materialPrimary, .8);
            }
            Table {
                border: none !important;
                margin-top: 0;
                th {
                    cursor: pointer;
                    .th-icon {
                        margin-left: 10px;
                    }
                }
                tr,
                td,
                th {
                    border: none !important;
                    @include noSelection();
                }
                .th-data-compra {
                    width: 12%;
                }
                .th-linha {
                    width: 40%;
                }
                .th-saida {
                    width: 20%;
                }
            }
            .table-hover>tbody>tr:hover {
                background-color: rgba(black, .05) !important;
            }
        }
        .pagination-pesquisa {
            margin-top: 76px;
            @include sm {
                margin-top: 213px;
            }
            li a {
                background-color: rgba(white, 1);
                border-color: rgba(#2d2d2d, .3);
                color: #2d2d2d;
            }
            li.active a {
                background-color: rgba($materialPrimary, 1);
                border-color: $materialPrimary !important;
                color: white;
            }
        }
    }
    @include sm {
        &::after {
            @include bkgImage();
        }
    }
}