.snackbar {
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 300px;
    span {
        font-size: 1.5rem !important;
    }
    &.error {
        background-color: rgba($colorHasError, .9) !important;
    }
    &.success {
        background-color: rgba($googleGreen, .9) !important;
    }
    &.warning {
        background-color: rgba($busYellow, .9) !important;
    }
}