.snackbar {
    // width: 330px;
    span {
        // font-size: 1.5rem !important;
    }
    &.error {
        // background-color: rgba($colorHasError, .8) !important;
    }
    &.success {
        // background-color: rgba($googleGreen, .8) !important;
    }
    &.warning {
        // background-color: rgba($busYellow, .8) !important;
    }
    button {
        text-transform: lowercase !important;
    }
}

[data-react-toolbox="snackbar"] {
    border-radius: 4px 4px 0 0;
    button {
        text-transform: lowercase !important;
        font-family: "Days One" !important;
    }
}

@include sm {
    .snackbar {
        // width: 400px;
    }
}