$materialPrimary: #424242;
$materialPrimaryLight: lighten($materialPrimary, 15%);
$materialPrimaryDark: darken($materialPrimary, 5%);
$materialPrimaryDarker: darken($materialPrimaryDark, 5%);
$colorNavbarPrincipal: rgba($materialPrimaryDarker, 1);
$colorNavbarPrincipalXs: $materialPrimaryDarker;
$colorNavbarHeader: rgba($materialPrimaryDarker, .9);
$colorNavbarHeaderXs: $materialPrimaryDark;
$textNavbarPrincipal: rgba(white, .9);
$textNavbarHeader: rgba(white, .9);
$wallpaper: './styles/images/tree26.jpg';
$wallpaperXs: './styles/images/tree26.jpg';