$materialPrimary: #4D4E49;
$materialPrimaryLight: lighten($materialPrimary, 15%);
$materialPrimaryDark: darken($materialPrimary, 5%);
$materialPrimaryDarker: darken($materialPrimaryDark, 5%);
$colorNavbarPrincipal: rgba($materialPrimaryDark, 1);
$colorNavbarPrincipalXs: $materialPrimaryDark;
$colorNavbarHeader: rgba(white, .3);
$colorNavbarHeaderXs: rgba($materialPrimary, 1);
$textNavbarPrincipal: rgba(white, .6);
$textNavbarHeader: rgba(white, .9);
$colorFooterSection: lighten($materialPrimary, 8%);
$wallpaper: './styles/images/bus2.png';
$wallpaperXs: './styles/images/citybus.jpg';