// $tooltipColor: rgba(51, 122, 183, .97);
// $tooltipColor: rgba(217, 83, 79, 1);
// $tooltipColor: rgba(92, 184, 92, 1);
// $tooltipColor: rgba(91, 192, 222, 1);
$tooltipColor: rgba(purple, .9);
.tooltip {
    &>.tooltip-inner {
        background-color: $tooltipColor;
    }
    &.bottom>.tooltip-arrow {
        border-bottom-color: $tooltipColor;
    }
    &.top>.tooltip-arrow {
        border-top-color: $tooltipColor;
    }
    &.left>.tooltip-arrow {
        border-left-color: $tooltipColor;
    }
    &.right>.tooltip-arrow {
        border-right-color: $tooltipColor;
    }
}