.welcome-container {
    @include containerHeight();
    .info-container {
        width: $contentWidth;
        margin: 50px 0 0 $contentLeft !important;
        text-align: left;
        h2 {
            font-family: $fontPadrao;
            color: rgba(black, .65);
            margin-top: 50px;
        }
        .jumbotron {
            background-color: white;
            border-radius: 4px;
        }
        .welcome-button {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }
    // &::after {
    //     @include bkgImage();
    // }
}