.welcome-container {
    @include containerHeight();
    .info-container {
        margin-top: 50px;
        h1 {
            font-family: "Gruppo";
            font-weight: bold;
        }
        .jumbotron {
            padding: 20px;
            background-color: rgba(black, .05);
        }
        .welcome-button {
            margin-bottom: 50px;
        }
    }
    &::after {
        @include bkgImage();
    }
}