@import "global";
@import "tooltip";
@import "layout";
@import "navigation";
@import "compraPassagem";
@import "confirmaPassagem";
@import "login";
@import "multiselect";
html {
    height: 100%;
    body {
        background-color: #fafafa;
        height: inherit;
        #root {
            height: inherit;
            .App {
                height: inherit;
                .App-container {
                    padding: 0;
                    height: calc(100% - #{$header_height});
                    .App-container__row {
                        height: 100%;
                        .App-container__col {
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}

.text-after-icon {
    margin-left: 8px;
}