@import "global";
@import "tooltip";
@import "layout";
@import "navheader";
@import "navigation";
@import "compraPassagem";
@import "confirmaPassagem";
@import "pesquisaPassagens";
@import "login";
@import "multiselect";
@import "button";
@import "welcome";
@import "perfilUsuario";
@import "loadingDialog";
@import "modalTrajeto";
html {
    height: 100%;
    body {
        // background-color: rgb(234, 235, 240);
        height: inherit;
        #root {
            height: inherit;
            .App {
                height: inherit;
                .App-container {
                    padding: 0;
                    .App-container__row {
                        height: 100%;
                        .App-container__col {
                            height: 100%;
                        }
                    }
                }
            }
        }
        .title-after-icon {
            margin-left: 12px;
        }
        .text-after-icon {
            margin-left: 8px;
        }
        .icon-after-text {
            margin-left: 8px;
        }
        .jumbotron {
            padding: 20px;
            border-radius: 6px;
            background-color: rgba(black, .05);
            border: none;
            hr {
                border-color: rgba(0, 0, 0, .1);
            }
        }
        .modal.fade.in {
            background-color: rgba(black, .3);
        }
    }
}

@include retina {
    .page-title {
        font-size: 2rem !important;
    }
}

@include sm {
    .page-title {
        font-size: 3rem !important;
    }
    .navheader-container {
        .navbar {
            padding: 50px;
            padding-left: 0;
            padding-right: 0;
            .container {
                padding: 0;
            }
        }
        .nav.navbar-nav {
            margin-left: 10px;
        }
        .navbar-right {
            margin-right: 10px;
        }
    }
}

@include md {
    .page-title {
        font-size: 4rem !important;
    }
}

@include lg {
    .page-title {
        font-size: 5rem !important;
    }
}

.rdt input {
    @include noSelection();
}