@import "fonts";
@import "colormap";
@import "global";
@import "snackbar";
@import "tooltip";
@import "multiselect";
@import "button";
@import "layout";
@import "navheader";
@import "navigation";
@import "loadingDialog";
@import "modalTrajeto";
@import "compraPassagem";
@import "confirmaPassagem";
@import "pesquisaPassagens";
@import "login";
@import "welcome";
@import "perfilUsuario";
html {
    height: 100%;
    body {
        // Aumente para testar as fontes em diversas resoluções
        // font-size: 30px !important; 
        background-color: #f5f5f5;
        height: inherit;
        #root {
            height: inherit;
            .App {
                height: inherit;
                .App-container {
                    padding: 0;
                    .App-container__row {
                        height: 100%;
                        .App-container__col {
                            height: 100%;
                        }
                    }
                }
            }
        }
        .title-after-icon {
            margin-left: 2rem;
        }
        .text-after-icon {
            margin-left: .8rem;
        }
        .icon-after-text {
            margin-left: .8rem;
        }
        .jumbotron {
            padding: 20px;
            border-radius: 6px;
            background-color: rgba(black, .05);
            border: none;
            hr {
                border-color: rgba(0, 0, 0, .1);
            }
        }
        .modal.fade.in {
            background-color: rgba(black, .3);
        }
        button .text-after-icon {
            margin-left: 1.6rem;
        }
    }
}

@include retina {
    .page-title {
        font-size: 2rem !important;
    }
}

@include sm {
    .page-title {
        font-size: 3rem !important;
    }
    .navheader-container {
        .navbar {
            padding: 0;
            padding-left: 0;
            padding-right: 0;
            .container {
                padding: 50px 0 50px 0;
            }
        }
        .nav.navbar-nav {
            margin-left: 10px;
        }
        .navbar-right {
            margin-right: 10px;
        }
    }
}

@include md {
    .page-title {
        font-size: 4rem !important;
    }
}

@include lg {
    .page-title {
        font-size: 5rem !important;
    }
}

.rdt input {
    @include noSelection();
}

$colorMui: darken(#4285F4, 10%);
$colorMuiHover: lighten(#4285F4, 2%);

/* Change Autocomplete styles in Chrome*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none !important;
    border-bottom: 1px solid rgba(0, 0, 0, .12) !important;
    -webkit-text-fill-color: initial !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    transition: background-color 5000s ease-in-out 0s !important;
}