@import url("https://fonts.googleapis.com/css?family=Oswald|Ubuntu|Oxygen|Roboto+Condensed|Open+Sans|Ubuntu+Mono|Share+Tech+Mono|Acme|Source+Code+Pro|Roboto+Mono");
@font-face {
  font-family: 'Roboto';
  src: url(./styles/fonts/Roboto-Regular.ttf) format("trueType"); }

@font-face {
  font-family: 'Gruppo';
  src: url(./styles/fonts/Gruppo-Regular.ttf) format("trueType"); }

@font-face {
  font-family: 'Days One';
  src: url(./styles/fonts/DaysOne-Regular.ttf) format("trueType"); }

@font-face {
  font-family: 'Patua One';
  src: url(./styles/fonts/PatuaOne-Regular.ttf) format("trueType"); }

@font-face {
  font-family: 'Roboto Slab';
  src: url(./styles/fonts/RobotoSlab-Regular.ttf) format("trueType"); }

@keyframes busGrad {
  0% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 22%, transparent 22%, transparent 78%, rgba(0, 0, 0, 0.05) 78%, rgba(0, 0, 0, 0.05) 100%); }
  6% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.05) 75%, rgba(0, 0, 0, 0.05) 100%); }
  12% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 29%, transparent 29%, transparent 71%, rgba(0, 0, 0, 0.05) 71%, rgba(0, 0, 0, 0.05) 100%); }
  19% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 32%, transparent 32%, transparent 68%, rgba(0, 0, 0, 0.05) 68%, rgba(0, 0, 0, 0.05) 100%); }
  25% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 36%, transparent 36%, transparent 64%, rgba(0, 0, 0, 0.05) 64%, rgba(0, 0, 0, 0.05) 100%); }
  31% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 40%, transparent 40%, transparent 60%, rgba(0, 0, 0, 0.05) 60%, rgba(0, 0, 0, 0.05) 100%); }
  38% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 43%, transparent 43%, transparent 57%, rgba(0, 0, 0, 0.05) 57%, rgba(0, 0, 0, 0.05) 100%); }
  44% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 47%, transparent 47%, transparent 53%, rgba(0, 0, 0, 0.05) 53%, rgba(0, 0, 0, 0.05) 100%); }
  50% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 50%, transparent 50%, transparent 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 100%); }
  56% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 47%, transparent 47%, transparent 53%, rgba(0, 0, 0, 0.05) 53%, rgba(0, 0, 0, 0.05) 100%); }
  62% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 43%, transparent 43%, transparent 57%, rgba(0, 0, 0, 0.05) 57%, rgba(0, 0, 0, 0.05) 100%); }
  69% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 40%, transparent 40%, transparent 60%, rgba(0, 0, 0, 0.05) 60%, rgba(0, 0, 0, 0.05) 100%); }
  75% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 36%, transparent 36%, transparent 64%, rgba(0, 0, 0, 0.05) 64%, rgba(0, 0, 0, 0.05) 100%); }
  81% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 32%, transparent 32%, transparent 68%, rgba(0, 0, 0, 0.05) 68%, rgba(0, 0, 0, 0.05) 100%); }
  88% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 29%, transparent 29%, transparent 71%, rgba(0, 0, 0, 0.05) 71%, rgba(0, 0, 0, 0.05) 100%); }
  94% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.05) 75%, rgba(0, 0, 0, 0.05) 100%); }
  100% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 22%, transparent 22%, transparent 78%, rgba(0, 0, 0, 0.05) 78%, rgba(0, 0, 0, 0.05) 100%); } }

@keyframes spinning {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes buslide {
  0% {
    background-color: white;
    left: 50%;
    right: 50%;
    width: 0;
    opacity: 0; }
  100% {
    background-color: initial;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 1; } }

@keyframes buslideInverse {
  0% {
    background-color: initial;
    left: 0;
    right: 0;
    width: 100%;
    opacity: .5; }
  100% {
    background-color: white;
    left: 50%;
    right: 50%;
    width: 0;
    opacity: 0; } }

.snackbar {
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 300px; }
  .snackbar span {
    font-size: 1.5rem !important; }
  .snackbar.error {
    background-color: rgba(231, 29, 54, 0.9) !important; }
  .snackbar.success {
    background-color: rgba(76, 175, 80, 0.9) !important; }
  .snackbar.warning {
    background-color: rgba(255, 204, 62, 0.9) !important; }

.tooltip > .tooltip-inner {
  background-color: #424242; }

.tooltip.bottom > .tooltip-arrow {
  border-bottom-color: #424242; }

.tooltip.top > .tooltip-arrow {
  border-top-color: #424242; }

.tooltip.left > .tooltip-arrow {
  border-left-color: #424242; }

.tooltip.right > .tooltip-arrow {
  border-right-color: #424242; }

.comprar-passagem-container .form-group {
  text-align: left; }
  .comprar-passagem-container .form-group .Select-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .comprar-passagem-container .form-group.has-error .Select--multi .Select-control {
    border: 1px solid #843534; }
    .comprar-passagem-container .form-group.has-error .Select--multi .Select-control .Select-arrow {
      border-color: #843534 transparent transparent; }
  .comprar-passagem-container .form-group.has-error .Select--multi.is-focused {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483; }
  .comprar-passagem-container .form-group .select-seat {
    cursor: pointer; }

#bus-seats {
  max-width: 380px !important; }
  #bus-seats .popover-title {
    -moz-user-select: -moz-none !important;
    -khtml-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Gruppo';
    font-size: 1.6rem; }
  #bus-seats .popover-content {
    padding-left: 9px;
    padding-right: 9px; }
  #bus-seats .bus-row {
    padding: 3px 15px 3px 12px; }
    #bus-seats .bus-row .label {
      -moz-user-select: -moz-none !important;
      -khtml-user-select: none !important;
      -webkit-user-select: none !important;
      -ms-user-select: none !important;
      user-select: none !important;
      background-color: #33b4ff;
      -webkit-box-shadow: 5px 0px 0px -1px #0081cc;
      -moz-box-shadow: 5px 0px 0px -1px #0081cc;
      box-shadow: 5px 0px 0px -1px #0081cc;
      margin-right: 8px;
      padding: 2px 3px 2px 4px;
      font-size: 1.4rem;
      cursor: pointer; }
      #bus-seats .bus-row .label.reserved {
        cursor: not-allowed;
        background-color: rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 5px 0px 0px -1px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 5px 0px 0px -1px rgba(0, 0, 0, 0.4);
        box-shadow: 5px 0px 0px -1px rgba(0, 0, 0, 0.4); }
      #bus-seats .bus-row .label.selected {
        background-color: #FFB300;
        -webkit-box-shadow: 5px 0px 0px -1px #cc8f00;
        -moz-box-shadow: 5px 0px 0px -1px #cc8f00;
        box-shadow: 5px 0px 0px -1px #cc8f00; }
      #bus-seats .bus-row .label.legenda {
        cursor: default; }
    #bus-seats .bus-row.corredor-acima {
      padding-top: 0;
      padding-bottom: 8px; }
    #bus-seats .bus-row.corredor-abaixo {
      padding-top: 8px;
      padding-bottom: 0; }
    #bus-seats .bus-row.bus-row-legenda {
      padding-left: 20px;
      padding-right: 15px; }
  #bus-seats hr {
    margin-top: 10px;
    margin-bottom: 10px; }
  #bus-seats .clean-bus {
    padding-top: 0;
    padding-bottom: 0; }
  #bus-seats .jumbotron {
    margin-bottom: 0;
    padding: 8px 15px 8px 10px;
    border-radius: 3% / 50%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.1);
    border-left: 10px solid rgba(128, 128, 128, 0.1); }

.mui-btn {
  position: relative; }
  .mui-btn .bt-mui-icon {
    position: absolute;
    top: calc(50% - 8px);
    left: 15px; }
  .mui-btn .bt-mui-text {
    font-family: "Days One"; }
  .mui-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 40px;
    height: 100%; }

.mui-btn--fab {
  position: absolute;
  top: 15px;
  right: 0; }
  .mui-btn--fab::after {
    content: "";
    width: 0;
    height: 0; }

.mui-dropdown .mui-btn::after {
  content: "";
  width: 0;
  height: 0; }

button {
  font-family: "Ubuntu" !important;
  font-weight: bold !important; }

.App {
  text-align: center; }

.navheader-container .navbar {
  border-radius: 0;
  background-color: #1B0088 !important;
  margin-bottom: 0;
  border: none;
  padding: 0;
  text-align: left; }
  .navheader-container .navbar::after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -5px;
    width: 100%;
    height: 5px;
    pointer-events: none;
    opacity: 1;
    box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
    will-change: opacity;
    transition: opacity 0.4s; }
  .navheader-container .navbar .navheader-nav a {
    padding-left: 0 !important; }
  .navheader-container .navbar .navbar-nav {
    display: inline-block;
    margin-left: 20px;
    padding-right: 0 !important; }
    .navheader-container .navbar .navbar-nav .page-title,
    .navheader-container .navbar .navbar-nav .icon-title {
      color: #e9e9e9; }
    .navheader-container .navbar .navbar-nav .page-title {
      font-family: "Days One";
      font-size: 3rem !important;
      color: rgba(255, 255, 255, 0.9) !important;
      padding-left: 0;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8); }
    .navheader-container .navbar .navbar-nav .icon-title.links {
      font-size: 2rem;
      color: rgba(255, 255, 255, 0.9) !important; }
      .navheader-container .navbar .navbar-nav .icon-title.links:hover {
        color: white !important; }
    .navheader-container .navbar .navbar-nav .resultados {
      font-size: 1.5rem;
      margin-right: 20px; }
      .navheader-container .navbar .navbar-nav .resultados a,
      .navheader-container .navbar .navbar-nav .resultados a:hover {
        color: #777777 !important; }
      .navheader-container .navbar .navbar-nav .resultados .icon {
        font-size: 2rem; }

@media screen and (min-width: 768px) {
  .navheader-container .navbar .navheader-nav a {
    padding-left: 20px !important; }
  .navheader-container .navbar .navbar-nav .page-title {
    font-family: "Days One";
    font-size: 5rem !important;
    padding-left: 30px; } }

.navbar .container {
  margin-left: 0 !important; }

.App .navbar.nav-app {
  background: #140866;
  text-align: left;
  margin-bottom: 0;
  border: none;
  border-radius: 0; }
  .App .navbar.nav-app .container {
    margin-left: 0;
    margin-right: 0;
    width: 100%; }
    .App .navbar.nav-app .container .sub-row {
      margin-top: 20px; }
    .App .navbar.nav-app .container .navbar-collapse.collapse {
      position: relative;
      padding-left: 0;
      padding-right: 0; }
      .App .navbar.nav-app .container .navbar-collapse.collapse.in {
        text-align: left; }
    .App .navbar.nav-app .container .navbrand-login,
    .App .navbar.nav-app .container .navbrand-logout {
      padding-top: 12px;
      margin-right: 20px; }
      .App .navbar.nav-app .container .navbrand-login .header-title,
      .App .navbar.nav-app .container .navbrand-logout .header-title {
        color: #F6952D;
        margin-left: 15px;
        font-size: 2.2rem;
        font-family: "Days One";
        font-weight: bold; }
      .App .navbar.nav-app .container .navbrand-login .App-logo,
      .App .navbar.nav-app .container .navbrand-logout .App-logo {
        color: #F6952D;
        font-size: 2.5rem; }
    .App .navbar.nav-app .container .navbar-nav {
      margin-left: 20px; }
      .App .navbar.nav-app .container .navbar-nav span {
        color: rgba(255, 255, 255, 0.9); }
    .App .navbar.nav-app .container .navbar-text a {
      text-decoration: none !important; }
      .App .navbar.nav-app .container .navbar-text a span {
        color: rgba(255, 255, 255, 0.9); }
    .App .navbar.nav-app .container .nav-fontes {
      margin: 0 0 0 33px; }

@media screen and (min-width: 768px) {
  .App .navbar.nav-app .container .nav-fontes {
    margin: 15px 0 15px 13px; } }

.loading-dialog-container {
  cursor: wait; }
  .loading-dialog-container .modal-dialog {
    width: 300px; }
    .loading-dialog-container .modal-dialog .modal-content {
      background-color: rgba(255, 152, 0, 0.9);
      color: white;
      border-radius: 6px;
      -moz-user-select: -moz-none !important;
      -khtml-user-select: none !important;
      -webkit-user-select: none !important;
      -ms-user-select: none !important;
      user-select: none !important;
      font-size: 1.5rem;
      font-weight: bold; }
      .loading-dialog-container .modal-dialog .modal-content .icon-saving {
        font-size: 2rem;
        color: white; }
      .loading-dialog-container .modal-dialog .modal-content .icon-feedback {
        font-size: 2rem;
        color: white; }
      .loading-dialog-container .modal-dialog .modal-content .loading-text-after-icon {
        margin-left: 15px; }

.modal-trajeto-container .rdtDays {
  color: initial; }

.modal-trajeto-container .modal-dialog {
  width: 360px;
  border-radius: 6px; }
  .modal-trajeto-container .modal-dialog input#data {
    background-color: white; }
  .modal-trajeto-container .modal-dialog .modal-content {
    background-color: #f5f5f5;
    -moz-user-select: -moz-none !important;
    -khtml-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    font-size: 1.5rem; }
    .modal-trajeto-container .modal-dialog .modal-content .modal-header {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      color: #3f51b5;
      padding: 0 20px 0 20px;
      border-bottom-color: rgba(0, 0, 0, 0.05);
      font-family: "Days One";
      font-size: 2rem;
      line-height: 51px; }
      .modal-trajeto-container .modal-dialog .modal-content .modal-header .ida-volta {
        font-size: 2rem;
        line-height: 51px !important;
        cursor: pointer; }
    .modal-trajeto-container .modal-dialog .modal-content .modal-body {
      padding: 20px;
      padding-bottom: 3px; }
      .modal-trajeto-container .modal-dialog .modal-content .modal-body .Select-control {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; }
      .modal-trajeto-container .modal-dialog .modal-content .modal-body .Select-menu-outer {
        z-index: 101; }
      .modal-trajeto-container .modal-dialog .modal-content .modal-body .input-date input {
        background-color: white !important;
        color: black !important;
        border-radius: 4px !important;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        z-index: 100; }
      .modal-trajeto-container .modal-dialog .modal-content .modal-body .input-group-addon {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px; }
        .modal-trajeto-container .modal-dialog .modal-content .modal-body .input-group-addon.addon-blue span {
          color: #F6952D; }
        .modal-trajeto-container .modal-dialog .modal-content .modal-body .input-group-addon.addon-green span {
          color: #4CAF50; }
        .modal-trajeto-container .modal-dialog .modal-content .modal-body .input-group-addon.addon-red span {
          color: #F44336; }
      .modal-trajeto-container .modal-dialog .modal-content .modal-body .rdtPicker {
        margin-top: 35px;
        left: -37px; }
      .modal-trajeto-container .modal-dialog .modal-content .modal-body .col-ida {
        padding-right: 15px; }
      .modal-trajeto-container .modal-dialog .modal-content .modal-body .col-volta {
        padding-left: 15px; }
      .modal-trajeto-container .modal-dialog .modal-content .modal-body .col-ida-com-volta {
        padding-right: 10px; }
      .modal-trajeto-container .modal-dialog .modal-content .modal-body .col-volta-com-volta {
        padding-left: 10px; }
      .modal-trajeto-container .modal-dialog .modal-content .modal-body .has-error .Select-control {
        border: 1px solid #e71d36; }
        .modal-trajeto-container .modal-dialog .modal-content .modal-body .has-error .Select-control .Select-arrow {
          border-color: #e71d36 transparent transparent; }
        .modal-trajeto-container .modal-dialog .modal-content .modal-body .has-error .Select-control .Select-value-label {
          color: #e71d36; }
      .modal-trajeto-container .modal-dialog .modal-content .modal-body .has-error .bloco-ajuda {
        margin-top: 7px;
        position: relative; }
        .modal-trajeto-container .modal-dialog .modal-content .modal-body .has-error .bloco-ajuda .label {
          -webkit-box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.25);
          -moz-box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.25);
          box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.25);
          font-size: 1.1rem;
          background-color: #e71d36;
          color: white;
          padding: 5px 10px 5px 10px;
          border-radius: 3px; }
          .modal-trajeto-container .modal-dialog .modal-content .modal-body .has-error .bloco-ajuda .label::before {
            content: '';
            position: absolute;
            left: 15px;
            top: -5px;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid #e71d36;
            clear: both; }
    .modal-trajeto-container .modal-dialog .modal-content .modal-footer {
      border-top-color: rgba(0, 0, 0, 0.05);
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px; }
    .modal-trajeto-container .modal-dialog .modal-content .loading-text-after-icon {
      margin-left: 15px; }

@keyframes rotation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(3600deg); } }

@keyframes rotation2 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.comprar-passagem-container {
  position: relative;
  overflow: auto;
  height: calc(100vh - 50px); }
  .comprar-passagem-container .button-finaliza,
  .comprar-passagem-container .button-edit {
    position: absolute;
    z-index: 9; }
  .comprar-passagem-container .button-finaliza {
    right: 20px;
    bottom: -28px; }
  .comprar-passagem-container .button-edit {
    right: 90px;
    bottom: -20px; }
  .comprar-passagem-container .form-passagem-container {
    position: relative;
    background-color: transparent;
    border: none;
    width: 300px;
    margin: 50px 0 0 calc(50% - 150px) !important; }
    .comprar-passagem-container .form-passagem-container .form-centered {
      width: inherit;
      width: inherit; }
      .comprar-passagem-container .form-passagem-container .form-centered .jumbo-comprar {
        background-color: rgba(255, 255, 255, 0.6); }
      .comprar-passagem-container .form-passagem-container .form-centered .btn-revisar {
        width: calc(100% - 5px);
        height: 60px;
        -webkit-box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.25);
        box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.25);
        line-height: 20px;
        font-weight: 100;
        margin-top: 20px;
        font-size: 2.2rem;
        font-family: "Days One"; }
        .comprar-passagem-container .form-passagem-container .form-centered .btn-revisar .finalizar-text {
          margin-left: 15px; }
        .comprar-passagem-container .form-passagem-container .form-centered .btn-revisar .icon-review {
          width: 32px;
          height: 32px;
          opacity: .5; }
      .comprar-passagem-container .form-passagem-container .form-centered .horarios-container {
        width: 100%;
        left: calc(50% - 175px); }
        .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios {
          background-color: white;
          margin-top: 0; }
          .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading {
            padding: 0; }
            .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a {
              -moz-user-select: -moz-none !important;
              -khtml-user-select: none !important;
              -webkit-user-select: none !important;
              -ms-user-select: none !important;
              user-select: none !important;
              font-family: 'Share Tech Mono';
              font-weight: bold;
              border-top-left-radius: 4px;
              border-top-right-radius: 4px;
              position: relative;
              display: block;
              height: 40px;
              line-height: 34px;
              text-decoration: none;
              cursor: pointer; }
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a .trigger-left {
                position: absolute;
                left: 10px; }
                .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a .trigger-left .text-horario {
                  position: absolute;
                  display: inline-block;
                  color: rgba(0, 0, 0, 0.6);
                  width: 100px;
                  top: 5px;
                  left: 30px;
                  margin-left: 10px;
                  font-size: 1.7rem; }
                .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a .trigger-left .horario-icon {
                  color: #F44336;
                  margin-top: .5rem; }
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a .trigger-right {
                font-size: 1.4rem;
                letter-spacing: .2rem;
                text-align: right;
                width: 360px;
                position: absolute;
                right: 10px;
                height: 20px;
                font-weight: normal; }
                .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a .trigger-right .poltronas-icon {
                  color: #F6952D; }
                .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a .trigger-right .progress {
                  width: 100px;
                  display: inline-block;
                  height: 10px;
                  margin-left: 10px;
                  margin-top: 16px;
                  margin-bottom: 0;
                  box-shadow: none;
                  border: 1px solid rgba(0, 0, 0, 0.2); }
                .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a .trigger-right .icon-save,
                .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a .trigger-right .icon-remove,
                .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a .trigger-right .icon-spin {
                  display: none; }
                .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a .trigger-right .icon-arrow {
                  display: inline-block;
                  margin-left: 4rem;
                  margin-top: -4px;
                  font-size: 1.8rem;
                  color: rgba(0, 0, 0, 0.6) !important; }
                .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a .trigger-right .icon-passenger {
                  color: #F44336; }
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a[aria-expanded="true"] .icon-passenger,
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a[aria-expanded="true"] .poltronas-text,
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a[aria-expanded="true"] .progress {
                display: none; }
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a[aria-expanded="true"] .icon-save,
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a[aria-expanded="true"] .icon-remove,
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a[aria-expanded="true"] .icon-spin,
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a[aria-expanded="true"] .icon-arrow {
                display: inline-block; }
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a[aria-expanded="true"] .icon-remove {
                margin-left: 20px; }
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a[aria-expanded="true"] .icon-arrow {
                line-height: 48px; }
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a[aria-expanded="true"] .icon-spin {
                animation: rotation 10s infinite;
                margin-top: 11px; }
          .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .not-allowed a {
            opacity: .2;
            cursor: not-allowed !important; }
          .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body {
            padding: 5px 0 5px 0; }
            .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body .loader {
              width: 550px !important;
              height: 180px !important;
              position: relative; }
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body .loader .spinner {
                color: red !important; }
            .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body .bus-seat-select {
              background-color: white;
              position: relative;
              width: 550px !important;
              height: 180px !important;
              border-radius: 4px;
              padding: 10px; }
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body .bus-seat-select .bus-row {
                padding: 0 10px 0 22px; }
                .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body .bus-seat-select .bus-row .label {
                  font-family: "Acme", monospace;
                  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
                  -moz-user-select: -moz-none !important;
                  -khtml-user-select: none !important;
                  -webkit-user-select: none !important;
                  -ms-user-select: none !important;
                  user-select: none !important;
                  background: url(./styles/images/busseat-green-3.svg);
                  background-size: 100% 100%;
                  background-repeat: no-repeat;
                  color: white;
                  margin-right: 8px;
                  padding: 8px 3px 0 0;
                  font-size: 1.5rem;
                  float: left;
                  height: 32px !important;
                  width: 32px !important;
                  cursor: pointer; }
                  .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body .bus-seat-select .bus-row .label.reserved {
                    cursor: not-allowed;
                    text-shadow: none;
                    background: url(./styles/images/busseat-reserved.svg);
                    color: rgba(0, 0, 0, 0.2); }
                  .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body .bus-seat-select .bus-row .label.selected {
                    background: url(./styles/images/busseat-selected2.svg); }
                  .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body .bus-seat-select .bus-row .label.legenda {
                    cursor: default; }
                .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body .bus-seat-select .bus-row.corredor-acima {
                  padding-top: 0;
                  padding-bottom: 8px; }
                .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body .bus-seat-select .bus-row.corredor-abaixo {
                  padding-top: 8px;
                  padding-bottom: 0; }
                .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body .bus-seat-select .bus-row.bus-row-legenda {
                  padding-left: 0;
                  padding-right: 15px; }
                .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body .bus-seat-select .bus-row.bus-row.row {
                  padding-left: 56px; }
            .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body hr {
              margin-top: 10px;
              margin-bottom: 10px; }
            .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body .clean-bus {
              padding-top: 0;
              padding-bottom: 0; }
            .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body .jumbotron {
              background: url(./styles/images/seats2.svg) no-repeat center white;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              margin-bottom: 0;
              height: 100% !important;
              padding: 8px 15px 5px 30px; }
          .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios.mini-volta {
            margin-top: 15px;
            margin-bottom: 20px;
            position: relative; }
          .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios.mini-ida .panel-group .panel-heading .panel-title a .trigger-right, .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios.mini-volta .panel-group .panel-heading .panel-title a .trigger-right {
            width: 120px; }
            .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios.mini-ida .panel-group .panel-heading .panel-title a .trigger-right .icon-arrow, .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios.mini-volta .panel-group .panel-heading .panel-title a .trigger-right .icon-arrow {
              margin-top: 11px; }
          .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios.mini-ida .panel-group .panel-heading .panel-title a[aria-expanded="true"] .icon-arrow, .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios.mini-volta .panel-group .panel-heading .panel-title a[aria-expanded="true"] .icon-arrow {
            margin-top: -4px !important; }
          .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios.mini-ida .panel-group .panel-collapse.collapse.in, .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios.mini-volta .panel-group .panel-collapse.collapse.in {
            height: 560px; }
          .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios.mini-ida .panel-group .panel-collapse .panel-body, .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios.mini-volta .panel-group .panel-collapse .panel-body {
            position: relative; }
            .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios.mini-ida .panel-group .panel-collapse .panel-body .loader, .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios.mini-volta .panel-group .panel-collapse .panel-body .loader {
              width: 280px !important;
              height: 560px !important;
              position: relative; }
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios.mini-ida .panel-group .panel-collapse .panel-body .loader .spinner, .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios.mini-volta .panel-group .panel-collapse .panel-body .loader .spinner {
                color: red !important; }
            .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios.mini-ida .panel-group .panel-collapse .panel-body .bus-seat-select, .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios.mini-volta .panel-group .panel-collapse .panel-body .bus-seat-select {
              -webkit-transform: rotate(90deg);
              -moz-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
              -o-transform: rotate(90deg);
              transform: rotate(90deg);
              position: absolute;
              left: -135px;
              top: 190px; }
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios.mini-ida .panel-group .panel-collapse .panel-body .bus-seat-select .bus-row .label span, .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios.mini-volta .panel-group .panel-collapse .panel-body .bus-seat-select .bus-row .label span {
                display: inline-block;
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                transform: rotate(-90deg); }
          .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .button-limpar-ida,
          .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .button-limpar-volta {
            position: absolute;
            z-index: 9;
            top: 47px; }
          .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .button-limpar-ida {
            left: -20px; }
          .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .button-limpar-volta {
            right: -20px; }
          .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios nav .tab-row {
            margin-bottom: 6px;
            text-transform: none; }
          .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group {
            margin-bottom: 0; }
          .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .text-nenhum-resultado {
            position: absolute;
            left: 50px;
            top: 15px; }
          .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .tab-ida,
          .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .tab-ida-mini {
            background: url(./styles/images/tab-ida.svg) no-repeat fixed;
            background-attachment: scroll; }
          .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .tab-volta {
            background: url(./styles/images/tab-volta.svg) no-repeat fixed;
            background-attachment: scroll; }
          .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .tab-volta-mini {
            background: url(./styles/images/tab-volta.svg) no-repeat right fixed;
            background-attachment: scroll; }
  @media screen and (min-width: 768px) {
    .comprar-passagem-container .form-passagem-container {
      width: 578px;
      margin: 50px 0 0 calc(50% - 289px) !important; } }

.confirmacao-passagem {
  overflow: auto;
  height: calc(100vh - 50px); }
  .confirmacao-passagem .form-centered {
    width: inherit;
    margin-top: 15px; }
    .confirmacao-passagem .form-centered .label-localizador {
      margin-bottom: 10px; }
    .confirmacao-passagem .form-centered .localizador {
      font-family: "Gruppo";
      font-size: 2rem;
      font-weight: bold; }
    .confirmacao-passagem .form-centered .detalhes {
      margin-top: 60px;
      margin-bottom: 30px; }
      .confirmacao-passagem .form-centered .detalhes .jumbotron {
        margin-top: 5px;
        margin-bottom: 0; }
  .confirmacao-passagem::after {
    content: "";
    background: url(./styles/images/tree5.jpg) no-repeat center fixed;
    background-attachment: scroll;
    background-size: cover;
    opacity: 1;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0); }
  @media screen and (min-width: 480px) {
    .confirmacao-passagem .localizador {
      font-size: 3rem !important;
      font-weight: bold; } }
  @media screen and (min-width: 768px) {
    .confirmacao-passagem .form-centered {
      margin-top: 50px; } }

.pesquisar-passagens-container {
  overflow: auto;
  height: calc(100vh - 50px); }
  .pesquisar-passagens-container .jumbotron .icon-table {
    color: rgba(0, 0, 0, 0.5); }
    .pesquisar-passagens-container .jumbotron .icon-table.arrow-trajeto {
      color: green;
      margin-left: 15px;
      margin-right: 15px; }
    .pesquisar-passagens-container .jumbotron .icon-table.data {
      color: #4285F4;
      margin-right: 6px; }
    .pesquisar-passagens-container .jumbotron .icon-table.horario {
      color: goldenrod;
      margin-left: 15px;
      margin-right: 6px; }
  .pesquisar-passagens-container .jumbotron .label-poltrona {
    margin-right: 4px; }
  .pesquisar-passagens-container .jumbotron Table {
    border: none !important;
    margin-top: 0; }
    .pesquisar-passagens-container .jumbotron Table th {
      cursor: pointer; }
      .pesquisar-passagens-container .jumbotron Table th .th-icon {
        margin-left: 10px; }
    .pesquisar-passagens-container .jumbotron Table tr,
    .pesquisar-passagens-container .jumbotron Table td,
    .pesquisar-passagens-container .jumbotron Table th {
      border: none !important;
      -moz-user-select: -moz-none !important;
      -khtml-user-select: none !important;
      -webkit-user-select: none !important;
      -ms-user-select: none !important;
      user-select: none !important; }
    .pesquisar-passagens-container .jumbotron Table .th-data-compra {
      width: 12%; }
    .pesquisar-passagens-container .jumbotron Table .th-linha {
      width: 40%; }
    .pesquisar-passagens-container .jumbotron Table .th-saida {
      width: 20%; }
  .pesquisar-passagens-container .jumbotron .table-hover > tbody > tr:hover {
    background-color: rgba(218, 165, 32, 0.15) !important; }
  .pesquisar-passagens-container .pagination-pesquisa li a {
    background-color: white;
    border-color: rgba(45, 45, 45, 0.3);
    color: #2d2d2d; }
  .pesquisar-passagens-container .pagination-pesquisa li.active a {
    background-color: rgba(45, 45, 45, 0.9);
    border: none;
    color: white; }
  .pesquisar-passagens-container::after {
    content: "";
    background: url(./styles/images/tree5.jpg) no-repeat center fixed;
    background-attachment: scroll;
    background-size: cover;
    opacity: 1;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0); }

.login-container {
  height: calc(100% - 150px) !important;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding-top: 0; }
  .login-container .login-box {
    text-align: left;
    position: relative;
    width: 320px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    padding: 15px 20px 5px 20px; }
    .login-container .login-box .form-group.last {
      margin-top: 20px;
      margin-bottom: 8px; }
    .login-container .login-box .login-header {
      height: 40px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important; }
      .login-container .login-box .login-header .login-header--title {
        position: absolute;
        left: 0;
        display: inline;
        width: 220px;
        height: inherit;
        padding-top: 10px;
        padding-left: 20px; }
        .login-container .login-box .login-header .login-header--title .login-header--title-main {
          color: #3f51b5;
          line-height: 30px;
          font-size: 2.5rem;
          font-weight: bold;
          font-family: "Days One"; }
      .login-container .login-box .login-header .login-header--icon {
        position: absolute;
        right: 0;
        top: 10px;
        display: inline;
        width: 85px;
        height: inherit; }
        .login-container .login-box .login-header .login-header--icon .main-icon {
          font-size: 2.5rem;
          color: #3f51b5;
          margin-right: 5px; }
    .login-container .login-box form {
      margin-top: 60px; }
  .login-container::after {
    content: "";
    background: url(./styles/images/tree3.jpg) no-repeat center fixed;
    background-attachment: scroll;
    background-size: cover;
    opacity: 1;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0); }
  @media screen and (min-width: 480px) {
    .login-container .login-box {
      width: 360px; }
      .login-container .login-box .login-header--icon {
        left: 260px !important; } }

.welcome-container {
  overflow: auto;
  height: calc(100vh - 50px); }
  .welcome-container .info-container {
    margin-top: 15px;
    text-align: left; }
    .welcome-container .info-container .jumbo-painel {
      background-color: rgba(255, 255, 255, 0.8) !important; }
    .welcome-container .info-container h2 {
      font-family: "Days One";
      color: rgba(0, 0, 0, 0.65); }
    .welcome-container .info-container .welcome-button {
      margin-top: 50px; }
    .welcome-container .info-container hr {
      display: none; }
  .welcome-container::after {
    content: "";
    background: url(./styles/images/tree5.jpg) no-repeat center fixed;
    background-attachment: scroll;
    background-size: cover;
    opacity: 1;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0); }

@media screen and (min-width: 768px) {
  .welcome-container .info-container {
    margin-top: 50px; } }

.perfil-usuario-container {
  overflow: auto;
  height: calc(100vh - 50px); }
  .perfil-usuario-container .form-header {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin: 0;
    margin-top: 50px;
    padding: 10px;
    padding-left: 20px;
    padding-left: -15px !important;
    background-color: rgba(0, 0, 0, 0.05);
    border: none; }
    .perfil-usuario-container .form-header .form-title {
      font-family: "Gruppo";
      font-size: 2rem;
      line-height: 40px; }
    .perfil-usuario-container .form-header .btn.edicao {
      font-size: 2rem;
      background-color: transparent;
      color: black !important; }
      .perfil-usuario-container .form-header .btn.edicao:hover, .perfil-usuario-container .form-header .btn.edicao:active, .perfil-usuario-container .form-header .btn.edicao:focus {
        background-color: rgba(0, 0, 0, 0.1) !important;
        color: black !important; }
  .perfil-usuario-container .jumbotron {
    margin-top: 15px; }
    .perfil-usuario-container .jumbotron .text-left.row.first {
      padding-top: 50px; }
    .perfil-usuario-container .jumbotron .static-label {
      font-size: 3rem;
      font-family: 'Gruppo';
      margin-left: 20px; }
    .perfil-usuario-container .jumbotron .static-value {
      font-size: 3rem;
      font-family: 'Gruppo';
      margin-left: 10px; }
  .perfil-usuario-container::after {
    content: "";
    background: url(./styles/images/tree5.jpg) no-repeat center fixed;
    background-attachment: scroll;
    background-size: cover;
    opacity: 1;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0); }
  @media screen and (min-width: 768px) {
    .perfil-usuario-container .jumbotron {
      margin-top: 50px; } }

html {
  height: 100%; }
  html body {
    content: "";
    background: url(./styles/images/tree2.jpg) no-repeat center fixed;
    background-attachment: scroll;
    background-size: cover;
    opacity: 1;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
    height: inherit; }
    html body #root {
      height: inherit; }
      html body #root .App {
        height: inherit; }
        html body #root .App .App-container {
          padding: 0; }
          html body #root .App .App-container .App-container__row {
            height: 100%; }
            html body #root .App .App-container .App-container__row .App-container__col {
              height: 100%; }
    html body .title-after-icon {
      margin-left: 2rem; }
    html body .text-after-icon {
      margin-left: .8rem; }
    html body .icon-after-text {
      margin-left: .8rem; }
    html body .jumbotron {
      padding: 20px;
      border-radius: 6px;
      background-color: rgba(0, 0, 0, 0.05);
      border: none; }
      html body .jumbotron hr {
        border-color: rgba(0, 0, 0, 0.1); }
    html body .modal.fade.in {
      background-color: rgba(0, 0, 0, 0.3); }
    html body button .text-after-icon {
      margin-left: 1.6rem; }

@media screen and (min-width: 320px) {
  .page-title {
    font-size: 2rem !important; } }

@media screen and (min-width: 768px) {
  .page-title {
    font-size: 3rem !important; }
  .navheader-container .navbar {
    padding: 0;
    padding-left: 0;
    padding-right: 0; }
    .navheader-container .navbar .container {
      padding: 50px 0 50px 0; }
  .navheader-container .nav.navbar-nav {
    margin-left: 10px; }
  .navheader-container .navbar-right {
    margin-right: 10px; } }

@media screen and (min-width: 992px) {
  .page-title {
    font-size: 4rem !important; } }

@media screen and (min-width: 1200px) {
  .page-title {
    font-size: 5rem !important; } }

.rdt input {
  -moz-user-select: -moz-none !important;
  -khtml-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important; }

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
  -webkit-text-fill-color: initial !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s !important; }
