@import url("https://fonts.googleapis.com/css?family=Oswald|Ubuntu|Droid+Sans+Mono|Roboto+Condensed|Open+Sans|Cutive+Mono|Ubuntu+Mono|Share+Tech+Mono|Acme|Source+Code+Pro|Roboto+Mono");
@font-face {
  font-family: 'Roboto';
  src: url(./styles/fonts/Roboto-Regular.ttf) format("trueType"); }

@font-face {
  font-family: 'Gruppo';
  src: url(./styles/fonts/Gruppo-Regular.ttf) format("trueType"); }

@font-face {
  font-family: 'Days One';
  src: url(./styles/fonts/DaysOne-Regular.ttf) format("trueType"); }

@font-face {
  font-family: 'Patua One';
  src: url(./styles/fonts/PatuaOne-Regular.ttf) format("trueType"); }

@font-face {
  font-family: 'Roboto Slab';
  src: url(./styles/fonts/RobotoSlab-Regular.ttf) format("trueType"); }

@keyframes busGrad {
  0% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 22%, transparent 22%, transparent 78%, rgba(0, 0, 0, 0.05) 78%, rgba(0, 0, 0, 0.05) 100%); }
  6% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.05) 75%, rgba(0, 0, 0, 0.05) 100%); }
  12% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 29%, transparent 29%, transparent 71%, rgba(0, 0, 0, 0.05) 71%, rgba(0, 0, 0, 0.05) 100%); }
  19% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 32%, transparent 32%, transparent 68%, rgba(0, 0, 0, 0.05) 68%, rgba(0, 0, 0, 0.05) 100%); }
  25% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 36%, transparent 36%, transparent 64%, rgba(0, 0, 0, 0.05) 64%, rgba(0, 0, 0, 0.05) 100%); }
  31% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 40%, transparent 40%, transparent 60%, rgba(0, 0, 0, 0.05) 60%, rgba(0, 0, 0, 0.05) 100%); }
  38% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 43%, transparent 43%, transparent 57%, rgba(0, 0, 0, 0.05) 57%, rgba(0, 0, 0, 0.05) 100%); }
  44% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 47%, transparent 47%, transparent 53%, rgba(0, 0, 0, 0.05) 53%, rgba(0, 0, 0, 0.05) 100%); }
  50% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 50%, transparent 50%, transparent 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 100%); }
  56% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 47%, transparent 47%, transparent 53%, rgba(0, 0, 0, 0.05) 53%, rgba(0, 0, 0, 0.05) 100%); }
  62% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 43%, transparent 43%, transparent 57%, rgba(0, 0, 0, 0.05) 57%, rgba(0, 0, 0, 0.05) 100%); }
  69% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 40%, transparent 40%, transparent 60%, rgba(0, 0, 0, 0.05) 60%, rgba(0, 0, 0, 0.05) 100%); }
  75% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 36%, transparent 36%, transparent 64%, rgba(0, 0, 0, 0.05) 64%, rgba(0, 0, 0, 0.05) 100%); }
  81% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 32%, transparent 32%, transparent 68%, rgba(0, 0, 0, 0.05) 68%, rgba(0, 0, 0, 0.05) 100%); }
  88% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 29%, transparent 29%, transparent 71%, rgba(0, 0, 0, 0.05) 71%, rgba(0, 0, 0, 0.05) 100%); }
  94% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.05) 75%, rgba(0, 0, 0, 0.05) 100%); }
  100% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 22%, transparent 22%, transparent 78%, rgba(0, 0, 0, 0.05) 78%, rgba(0, 0, 0, 0.05) 100%); } }

@keyframes spinning {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes buslide {
  0% {
    background-color: white;
    left: 50%;
    right: 50%;
    width: 0;
    opacity: 0; }
  100% {
    background-color: initial;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 1; } }

@keyframes buslideInverse {
  0% {
    background-color: initial;
    left: 0;
    right: 0;
    width: 100%;
    opacity: .5; }
  100% {
    background-color: white;
    left: 50%;
    right: 50%;
    width: 0;
    opacity: 0; } }

.font-awesome-tooltip a {
  opacity: 1 !important; }

.snackbar button {
  text-transform: lowercase !important; }

[data-react-toolbox="snackbar"] {
  border-radius: 4px 4px 0 0; }
  [data-react-toolbox="snackbar"] .snack-content {
    display: inline-flex;
    align-items: center; }
    [data-react-toolbox="snackbar"] .snack-content span {
      margin-top: 5px; }
    [data-react-toolbox="snackbar"] .snack-content.success i,
    [data-react-toolbox="snackbar"] .snack-content.success span {
      color: #4CAF50 !important; }
    [data-react-toolbox="snackbar"] .snack-content.error i,
    [data-react-toolbox="snackbar"] .snack-content.error span {
      color: #F44336 !important; }
  [data-react-toolbox="snackbar"] button {
    text-transform: lowercase !important;
    font-family: "Days One" !important; }

.tooltip > .tooltip-inner {
  background-color: black; }

.tooltip.bottom > .tooltip-arrow {
  border-bottom-color: black; }

.tooltip.top > .tooltip-arrow {
  border-top-color: black; }

.tooltip.left > .tooltip-arrow {
  border-left-color: black; }

.tooltip.right > .tooltip-arrow {
  border-right-color: black; }

.comprar-passagem-container .form-group {
  text-align: left; }
  .comprar-passagem-container .form-group .Select-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .comprar-passagem-container .form-group.has-error .Select--multi .Select-control {
    border: 1px solid #843534; }
    .comprar-passagem-container .form-group.has-error .Select--multi .Select-control .Select-arrow {
      border-color: #843534 transparent transparent; }
  .comprar-passagem-container .form-group.has-error .Select--multi.is-focused {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483; }
  .comprar-passagem-container .form-group .select-seat {
    cursor: pointer; }

#bus-seats {
  max-width: 380px !important; }
  #bus-seats .popover-title {
    -moz-user-select: -moz-none !important;
    -khtml-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Gruppo';
    font-size: 1.6rem; }
  #bus-seats .popover-content {
    padding-left: 9px;
    padding-right: 9px; }
  #bus-seats .bus-row {
    padding: 3px 15px 3px 12px; }
    #bus-seats .bus-row .label {
      -moz-user-select: -moz-none !important;
      -khtml-user-select: none !important;
      -webkit-user-select: none !important;
      -ms-user-select: none !important;
      user-select: none !important;
      background-color: #33b4ff;
      -webkit-box-shadow: 5px 0px 0px -1px #0081cc;
      -moz-box-shadow: 5px 0px 0px -1px #0081cc;
      box-shadow: 5px 0px 0px -1px #0081cc;
      margin-right: 8px;
      padding: 2px 3px 2px 4px;
      font-size: 1.4rem;
      cursor: pointer; }
      #bus-seats .bus-row .label.reserved {
        cursor: not-allowed;
        background-color: rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 5px 0px 0px -1px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 5px 0px 0px -1px rgba(0, 0, 0, 0.4);
        box-shadow: 5px 0px 0px -1px rgba(0, 0, 0, 0.4); }
      #bus-seats .bus-row .label.selected {
        background-color: #FFB300;
        -webkit-box-shadow: 5px 0px 0px -1px #cc8f00;
        -moz-box-shadow: 5px 0px 0px -1px #cc8f00;
        box-shadow: 5px 0px 0px -1px #cc8f00; }
      #bus-seats .bus-row .label.legenda {
        cursor: default; }
    #bus-seats .bus-row.corredor-acima {
      padding-top: 0;
      padding-bottom: 8px; }
    #bus-seats .bus-row.corredor-abaixo {
      padding-top: 8px;
      padding-bottom: 0; }
    #bus-seats .bus-row.bus-row-legenda {
      padding-left: 20px;
      padding-right: 15px; }
  #bus-seats hr {
    margin-top: 10px;
    margin-bottom: 10px; }
  #bus-seats .clean-bus {
    padding-top: 0;
    padding-bottom: 0; }
  #bus-seats .jumbotron {
    margin-bottom: 0;
    padding: 8px 15px 8px 10px;
    border-radius: 3% / 50%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.1);
    border-left: 10px solid rgba(128, 128, 128, 0.1); }

button:disabled {
  display: none; }

.spinner-button i {
  margin-top: 10px;
  margin-left: 2px; }

.spinner-button .with-spinner {
  position: relative;
  width: 56px;
  height: 56px; }
  .spinner-button .with-spinner .spinner-progress {
    position: absolute;
    top: -2px;
    left: -1px; }
    .spinner-button .with-spinner .spinner-progress svg circle {
      stroke: #F0AD4E;
      stroke-width: 4;
      r: 16; }

.open-menu-opcoes {
  left: -176px;
  top: 32px !important;
  width: 0 !important; }

.open-menu-opcoes-mini {
  left: -174px;
  top: 24px !important;
  width: 0 !important; }

.App {
  text-align: center; }

.navheader-container .navbar {
  background-color: #353535 !important;
  border-radius: 0;
  margin-bottom: 0;
  border: none;
  padding: 0;
  text-align: left;
  position: fixed;
  width: 100%;
  z-index: 99;
  opacity: 1; }
  .navheader-container .navbar::after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -5px;
    width: 100%;
    height: 5px;
    pointer-events: none;
    opacity: 1;
    box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
    will-change: opacity;
    transition: opacity 0.4s; }
  @media screen and (min-width: 768px) {
    .navheader-container .navbar {
      background-color: rgba(41, 41, 41, 0.85) !important; } }
  .navheader-container .navbar .navheader-nav a {
    padding-left: 0 !important; }
  .navheader-container .navbar .navbar-nav {
    display: inline-block;
    margin-left: 20px;
    padding-right: 0 !important; }
    .navheader-container .navbar .navbar-nav .page-title,
    .navheader-container .navbar .navbar-nav .icon-title {
      color: #e9e9e9; }
    .navheader-container .navbar .navbar-nav .page-title {
      font-family: "Days One";
      font-size: 3rem !important;
      color: rgba(255, 255, 255, 0.9) !important;
      padding-left: 0;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8); }
    .navheader-container .navbar .navbar-nav .icon-title.links {
      font-size: 2rem;
      color: rgba(255, 255, 255, 0.9) !important; }
      .navheader-container .navbar .navbar-nav .icon-title.links:hover {
        color: white !important; }
    .navheader-container .navbar .navbar-nav .resultados {
      font-size: 1.5rem;
      margin-right: 20px; }
      .navheader-container .navbar .navbar-nav .resultados a,
      .navheader-container .navbar .navbar-nav .resultados a:hover {
        color: #777777 !important; }
      .navheader-container .navbar .navbar-nav .resultados .icon {
        font-size: 2rem; }

@media screen and (min-width: 768px) {
  .navheader-container .navbar .navheader-nav a {
    padding-left: 20px !important; }
  .navheader-container .navbar .navbar-nav .page-title {
    font-family: "Days One";
    font-size: 5rem !important;
    padding-left: 30px; } }

.navbar .container {
  margin-left: 0 !important; }

.App .navbar.nav-app {
  background-color: #292929;
  text-align: left;
  margin-bottom: 0;
  border: none;
  border-radius: 0; }
  @media screen and (min-width: 768px) {
    .App .navbar.nav-app {
      background-color: #292929; } }
  .App .navbar.nav-app .container {
    margin-left: 0;
    margin-right: 0;
    width: 100%; }
    .App .navbar.nav-app .container .sub-row {
      margin-top: 20px; }
    .App .navbar.nav-app .container .navbar-collapse.collapse {
      position: relative;
      padding-left: 0;
      padding-right: 0; }
      .App .navbar.nav-app .container .navbar-collapse.collapse.in {
        text-align: left; }
    .App .navbar.nav-app .container .navbrand-login,
    .App .navbar.nav-app .container .navbrand-logout {
      padding-top: 12px;
      margin-right: 20px; }
      .App .navbar.nav-app .container .navbrand-login .header-title,
      .App .navbar.nav-app .container .navbrand-logout .header-title {
        color: #F6952D;
        margin-left: 15px;
        font-size: 2.2rem;
        font-family: "Days One";
        font-weight: bold; }
      .App .navbar.nav-app .container .navbrand-login .App-logo,
      .App .navbar.nav-app .container .navbrand-logout .App-logo {
        color: #F6952D;
        font-size: 2.5rem; }
    .App .navbar.nav-app .container .navbar-nav {
      margin-left: 20px; }
      .App .navbar.nav-app .container .navbar-nav span {
        color: rgba(255, 255, 255, 0.9); }
    .App .navbar.nav-app .container .navbar-text a {
      text-decoration: none !important; }
      .App .navbar.nav-app .container .navbar-text a span {
        color: rgba(255, 255, 255, 0.9); }
    .App .navbar.nav-app .container .nav-fontes {
      margin: 0 0 0 33px; }

@media screen and (min-width: 768px) {
  .App .navbar.nav-app .container .nav-fontes {
    margin: 15px 0 15px 13px; } }

.loading-dialog-container {
  cursor: wait; }
  .loading-dialog-container .modal-dialog {
    width: 300px;
    margin-left: calc(50% - 150px); }
    .loading-dialog-container .modal-dialog .modal-content {
      background-color: #686868;
      color: white;
      border-radius: 4px;
      -moz-user-select: -moz-none !important;
      -khtml-user-select: none !important;
      -webkit-user-select: none !important;
      -ms-user-select: none !important;
      user-select: none !important;
      font-size: 1.5rem;
      font-weight: bold; }
      .loading-dialog-container .modal-dialog .modal-content .icon-saving {
        font-size: 2rem;
        color: white; }
      .loading-dialog-container .modal-dialog .modal-content .icon-feedback {
        font-size: 2rem;
        color: white; }
      .loading-dialog-container .modal-dialog .modal-content .loading-text-after-icon {
        margin-left: 15px; }

._3niLM {
  z-index: 9999; }

.modal-trajeto-container .rdtDays {
  color: initial; }

.modal-trajeto-container.loading {
  cursor: wait !important; }
  .modal-trajeto-container.loading input,
  .modal-trajeto-container.loading button,
  .modal-trajeto-container.loading a,
  .modal-trajeto-container.loading .label {
    cursor: wait !important; }

.modal-trajeto-container .modal-dialog {
  border-radius: 4px 4px 20px 20px;
  width: 300px;
  margin-left: calc(50% - 150px);
  margin-top: 80px; }
  .modal-trajeto-container .modal-dialog input#data {
    background-color: white; }
  @media screen and (min-width: 480px) {
    .modal-trajeto-container .modal-dialog {
      width: 360px;
      margin-left: calc(50% - 180px); } }
  .modal-trajeto-container .modal-dialog .modal-content {
    background-color: white;
    border: none;
    -moz-user-select: -moz-none !important;
    -khtml-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    font-size: 1.5rem; }
    .modal-trajeto-container .modal-dialog .modal-content .modal-header {
      background-color: white;
      border-radius: 4px !important;
      color: #424242;
      padding: 20px 40px 10px 40px !important;
      border-bottom: none;
      font-family: "Days One";
      font-size: 2rem;
      line-height: 51px; }
      .modal-trajeto-container .modal-dialog .modal-content .modal-header .ida-volta {
        margin-top: 7px; }
        .modal-trajeto-container .modal-dialog .modal-content .modal-header .ida-volta span {
          font-size: 2.4rem; }
    .modal-trajeto-container .modal-dialog .modal-content .modal-body {
      padding: 10px 40px 30px 30px !important; }
      .modal-trajeto-container .modal-dialog .modal-content .modal-body .col-ida,
      .modal-trajeto-container .modal-dialog .modal-content .modal-body .col-volta {
        padding-right: 15px; }
      .modal-trajeto-container .modal-dialog .modal-content .modal-body ._2_qrE > * {
        cursor: pointer !important; }
        .modal-trajeto-container .modal-dialog .modal-content .modal-body ._2_qrE > *:hover {
          background-color: rgba(0, 0, 0, 0.05); }
      .modal-trajeto-container .modal-dialog .modal-content .modal-body ._2u-08 {
        color: #F0AD4E !important;
        font-weight: bold; }
    .modal-trajeto-container .modal-dialog .modal-content .modal-footer {
      border-top: none;
      background-color: #424242;
      text-align: left;
      padding: 0 0 0 40px;
      height: 60px !important;
      border-radius: 0 0 4px 4px;
      position: relative; }
      .modal-trajeto-container .modal-dialog .modal-content .modal-footer .footer-progress {
        position: absolute;
        left: 0;
        top: -4px;
        width: 100%; }
        .modal-trajeto-container .modal-dialog .modal-content .modal-footer .footer-progress [data-ref="value"] {
          background-color: #F0AD4E !important; }
      .modal-trajeto-container .modal-dialog .modal-content .modal-footer span {
        color: rgba(255, 255, 255, 0.8);
        font-size: 2rem;
        line-height: 60px;
        font-family: "Days One"; }
    .modal-trajeto-container .modal-dialog .modal-content .btn-buscar {
      position: absolute;
      right: 20px;
      bottom: -20px; }
    .modal-trajeto-container .modal-dialog .modal-content .loading-text-after-icon {
      margin-left: 15px; }

@keyframes rotation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(3600deg); } }

@keyframes rotation2 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

._3uJ__ ._1dY3Q {
  color: rgba(255, 255, 255, 0.2); }

.comprar-passagem-container {
  overflow: auto;
  height: calc(100vh - 50px); }
  .comprar-passagem-container.loading {
    cursor: wait !important; }
    .comprar-passagem-container.loading input,
    .comprar-passagem-container.loading button,
    .comprar-passagem-container.loading a,
    .comprar-passagem-container.loading .label {
      cursor: wait !important; }
  .comprar-passagem-container .opcoes-menu {
    position: absolute;
    z-index: 9;
    right: 20px;
    bottom: -20px; }
  .comprar-passagem-container .button-editar {
    position: absolute;
    z-index: 9;
    right: 20px;
    bottom: -20px;
    background-color: #686868 !important; }
  .comprar-passagem-container .form-passagem-container {
    position: relative;
    background-color: transparent;
    border: none;
    width: 300px;
    margin: 106px 0 0 calc(50% - 150px) !important; }
    .comprar-passagem-container .form-passagem-container .form-centered {
      width: inherit;
      width: inherit; }
      .comprar-passagem-container .form-passagem-container .form-centered .jumbo-comprar {
        background-color: rgba(255, 255, 255, 0.6); }
      .comprar-passagem-container .form-passagem-container .form-centered .btn-revisar {
        width: calc(100% - 5px);
        height: 60px;
        -webkit-box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.25);
        box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.25);
        line-height: 20px;
        font-weight: 100;
        margin-top: 20px;
        font-size: 2.2rem;
        font-family: "Days One"; }
        .comprar-passagem-container .form-passagem-container .form-centered .btn-revisar .finalizar-text {
          margin-left: 15px; }
        .comprar-passagem-container .form-passagem-container .form-centered .btn-revisar .icon-review {
          width: 32px;
          height: 32px;
          opacity: .5; }
      .comprar-passagem-container .form-passagem-container .form-centered .horarios-container {
        width: 100%;
        left: calc(50% - 175px); }
        .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios {
          background-color: white;
          margin-top: 0;
          margin-bottom: 30px;
          border-radius: 7px !important;
          position: relative;
          outline: none !important; }
          .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading {
            padding: 0; }
            .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a {
              -moz-user-select: -moz-none !important;
              -khtml-user-select: none !important;
              -webkit-user-select: none !important;
              -ms-user-select: none !important;
              user-select: none !important;
              font-family: 'Droid Sans Mono';
              font-weight: bold;
              border-top-left-radius: 4px;
              border-top-right-radius: 4px;
              position: relative;
              display: block;
              height: 40px;
              line-height: 34px;
              text-decoration: none;
              cursor: pointer; }
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a .trigger-left {
                position: absolute;
                left: 10px; }
                .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a .trigger-left .text-horario {
                  position: absolute;
                  display: inline-block;
                  color: rgba(0, 0, 0, 0.6);
                  width: 100px;
                  top: 4px;
                  left: 30px;
                  margin-left: 10px;
                  font-size: 1.7rem; }
                .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a .trigger-left .horario-icon {
                  margin-top: 8px;
                  color: rgba(66, 66, 66, 0.8); }
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a .trigger-right {
                font-size: 1.4rem;
                letter-spacing: .2rem;
                text-align: right;
                width: 260px;
                position: absolute;
                right: 10px;
                height: 20px;
                font-weight: normal; }
                .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a .trigger-right .poltronas-text {
                  position: absolute;
                  left: 20px;
                  top: 4px; }
                .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a .trigger-right .progress {
                  width: 100px;
                  height: 6px;
                  position: absolute;
                  left: 80px;
                  top: 18px;
                  box-shadow: none;
                  border: 1px solid rgba(0, 0, 0, 0.2); }
                .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a .trigger-right .icon-save,
                .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a .trigger-right .icon-remove,
                .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a .trigger-right .icon-spin {
                  display: none; }
                .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a .trigger-right .icon-arrow {
                  position: absolute;
                  top: 2px;
                  right: 0;
                  color: rgba(66, 66, 66, 0.8); }
                .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a .trigger-right .icon-passenger {
                  color: rgba(66, 66, 66, 0.8);
                  font-size: 2rem;
                  position: absolute;
                  left: -10px;
                  top: 11px; }
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a[aria-expanded="true"] .icon-passenger,
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a[aria-expanded="true"] .poltronas-text,
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a[aria-expanded="true"] .progress {
                display: none; }
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a[aria-expanded="true"] .icon-save,
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a[aria-expanded="true"] .icon-remove,
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a[aria-expanded="true"] .icon-spin,
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a[aria-expanded="true"] .icon-arrow {
                display: inline-block; }
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a[aria-expanded="true"] .icon-remove {
                color: rgba(66, 66, 66, 0.8);
                position: absolute;
                top: 2px;
                right: 40px; }
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a[aria-expanded="true"] .icon-save {
                color: rgba(66, 66, 66, 0.8);
                position: absolute;
                top: 2px;
                right: 70px; }
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-heading .panel-title a[aria-expanded="true"] .icon-spin {
                animation: rotation 10s infinite;
                margin-top: 11px; }
          .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .not-allowed a {
            opacity: .2;
            cursor: not-allowed !important; }
          .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body {
            padding: 5px 0 5px 0;
            position: relative; }
            .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body .footer-progress {
              position: absolute;
              left: 0;
              top: -4px;
              width: 100%; }
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body .footer-progress [data-ref="value"] {
                background-color: #F0AD4E !important; }
            .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body .loader {
              width: 550px !important;
              height: 180px !important;
              position: relative; }
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body .loader .spinner {
                color: red !important; }
            .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body .bus-seat-select {
              background-color: white;
              position: relative;
              width: 550px !important;
              height: 180px !important;
              border-radius: 4px;
              padding: 10px; }
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body .bus-seat-select .bus-row {
                padding: 0 10px 0 22px; }
                .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body .bus-seat-select .bus-row .label {
                  font-family: "Acme", monospace;
                  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
                  -moz-user-select: -moz-none !important;
                  -khtml-user-select: none !important;
                  -webkit-user-select: none !important;
                  -ms-user-select: none !important;
                  user-select: none !important;
                  background: url(./styles/images/busseat-green-4.svg);
                  background-size: 100% 100%;
                  background-repeat: no-repeat;
                  color: white;
                  margin-right: 8px;
                  padding: 8px 3px 0 0;
                  font-size: 1.5rem;
                  float: left;
                  height: 32px !important;
                  width: 32px !important;
                  cursor: pointer; }
                  .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body .bus-seat-select .bus-row .label.reserved {
                    cursor: not-allowed;
                    text-shadow: none;
                    background: url(./styles/images/busseat-reserved.svg);
                    color: rgba(0, 0, 0, 0.2); }
                  .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body .bus-seat-select .bus-row .label.selected {
                    background: url(./styles/images/busseat-red.svg); }
                  .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body .bus-seat-select .bus-row .label.legenda {
                    cursor: default; }
                .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body .bus-seat-select .bus-row.corredor-acima {
                  padding-top: 0;
                  padding-bottom: 8px; }
                .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body .bus-seat-select .bus-row.corredor-abaixo {
                  padding-top: 8px;
                  padding-bottom: 0; }
                .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body .bus-seat-select .bus-row.bus-row-legenda {
                  padding-left: 0;
                  padding-right: 15px; }
                .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body .bus-seat-select .bus-row.bus-row.row {
                  padding-left: 56px; }
            .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body hr {
              margin-top: 10px;
              margin-bottom: 10px; }
            .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body .clean-bus {
              padding-top: 0;
              padding-bottom: 0; }
            .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group .panel-collapse .panel-body .jumbotron {
              background: url(./styles/images/seats2.svg) no-repeat center white;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              margin-bottom: 0;
              height: 100% !important;
              padding: 8px 15px 5px 30px; }
          .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios.tab-xs .panel-group .panel-heading .panel-title a .trigger-right {
            width: 120px; }
            .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios.tab-xs .panel-group .panel-heading .panel-title a .trigger-right .icon-arrow {
              line-height: 42px; }
          .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios.tab-xs .panel-group .panel-collapse.collapse.in {
            height: 560px; }
          .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios.tab-xs .panel-group .panel-collapse .panel-body {
            position: relative; }
            .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios.tab-xs .panel-group .panel-collapse .panel-body .loader {
              width: 280px !important;
              height: 560px !important;
              position: relative; }
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios.tab-xs .panel-group .panel-collapse .panel-body .loader .spinner {
                color: red !important; }
            .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios.tab-xs .panel-group .panel-collapse .panel-body .bus-seat-select {
              -webkit-transform: rotate(90deg);
              -moz-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
              -o-transform: rotate(90deg);
              transform: rotate(90deg);
              position: absolute;
              left: -135px;
              top: 190px; }
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios.tab-xs .panel-group .panel-collapse .panel-body .bus-seat-select .bus-row .label span {
                display: inline-block;
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                transform: rotate(-90deg); }
          .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios section {
            outline: none !important;
            padding-bottom: 0;
            padding-top: 5px; }
            @media screen and (min-width: 768px) {
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios section._1Mp2k._3YHoU {
                padding-top: 10px; } }
          .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .jumbo-info {
            font-family: "Days One";
            color: rgba(66, 66, 66, 0.7) !important;
            margin-bottom: 12px;
            background-color: white;
            padding: 0 5px 5px 5px; }
            .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .jumbo-info.ida {
              position: relative; }
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .jumbo-info.ida .menu-ida {
                position: absolute;
                right: 0;
                top: -8px; }
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .jumbo-info.ida .tab-row {
                position: relative;
                width: 100%;
                height: 20px; }
                .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .jumbo-info.ida .tab-row i {
                  font-size: 1.7rem;
                  position: absolute;
                  top: 2px;
                  left: 0;
                  color: rgba(66, 66, 66, 0.8) !important; }
                .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .jumbo-info.ida .tab-row span {
                  position: absolute;
                  top: 1px;
                  left: 30px;
                  color: rgba(66, 66, 66, 0.8) !important; }
            .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .jumbo-info.volta {
              position: relative; }
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .jumbo-info.volta .menu-volta {
                position: absolute;
                left: 0;
                top: -8px; }
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .jumbo-info.volta .tab-row {
                position: relative;
                width: 100%;
                height: 20px; }
                .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .jumbo-info.volta .tab-row i {
                  font-size: 1.7rem;
                  position: absolute;
                  top: 2px;
                  right: 0;
                  color: rgba(66, 66, 66, 0.8) !important; }
                .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .jumbo-info.volta .tab-row span {
                  position: absolute;
                  top: 1px;
                  right: 30px;
                  color: rgba(66, 66, 66, 0.8) !important; }
          .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .footer-section {
            border-radius: 0 0 4px 4px !important;
            background-color: #424242;
            height: 60px;
            position: relative;
            text-align: left;
            padding-left: 40px;
            margin: 12px -12px 0 -12px; }
            .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .footer-section .footer-progress {
              position: absolute;
              left: 0;
              top: -4px;
              width: 100%; }
              .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .footer-section .footer-progress [data-ref="value"] {
                background-color: #F0AD4E !important; }
            .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .footer-section .button-finaliza {
              position: absolute;
              z-index: 9;
              right: 20px;
              bottom: -20px; }
            .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .footer-section > span {
              color: rgba(255, 255, 255, 0.8);
              font-size: 2rem;
              line-height: 60px;
              font-family: "Days One"; }
          .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .tab-arrow {
            position: absolute;
            font-size: 3rem;
            top: 100px;
            color: rgba(255, 255, 255, 0.05);
            left: 10px; }
          .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .tab-menu {
            position: absolute;
            z-index: 9;
            right: -28px;
            top: 41px; }
            .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .tab-menu button {
              background-color: #686868 !important; }
          .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios nav {
            font-family: "Days One";
            border-top-left-radius: 4px !important;
            border-top-right-radius: 4px !important;
            background-color: #424242; }
          .comprar-passagem-container .form-passagem-container .form-centered .horarios-container .tab-horarios .panel-group {
            margin-bottom: 0; }

@media screen and (min-width: 768px) {
  .comprar-passagem-container .form-passagem-container {
    width: 578px;
    margin: 213px 0 0 calc(50% - 289px) !important; } }

.confirmacao-passagem {
  overflow: auto;
  height: calc(100vh - 50px); }
  .confirmacao-passagem .form-centered {
    width: inherit;
    margin-top: 76px; }
    .confirmacao-passagem .form-centered .jumbo-detalhes {
      background-color: white;
      padding: 0;
      position: relative;
      border-radius: 4px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px; }
      .confirmacao-passagem .form-centered .jumbo-detalhes .main-body {
        margin: 0;
        padding: 40px 40px 20px 40px; }
        .confirmacao-passagem .form-centered .jumbo-detalhes .main-body .label-localizador {
          color: #424242; }
        .confirmacao-passagem .form-centered .jumbo-detalhes .main-body .localizador {
          display: block;
          color: #424242;
          font-family: "Oswald";
          font-size: 2rem;
          font-weight: bold; }
        .confirmacao-passagem .form-centered .jumbo-detalhes .main-body .detalhes .jumbo-ida,
        .confirmacao-passagem .form-centered .jumbo-detalhes .main-body .detalhes .jumbo-volta {
          border: 1px solid rgba(66, 66, 66, 0.2);
          padding: 0;
          margin-top: 20px;
          margin-bottom: 20px;
          border-radius: 4px;
          color: #424242 !important;
          background-color: white !important; }
          .confirmacao-passagem .form-centered .jumbo-detalhes .main-body .detalhes .jumbo-ida .body,
          .confirmacao-passagem .form-centered .jumbo-detalhes .main-body .detalhes .jumbo-volta .body {
            padding: 20px; }
        .confirmacao-passagem .form-centered .jumbo-detalhes .main-body .detalhes .jumbo-ida .body {
          position: relative; }
          .confirmacao-passagem .form-centered .jumbo-detalhes .main-body .detalhes .jumbo-ida .body .side-ida {
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 100%;
            background-color: rgba(66, 66, 66, 0.6); }
            .confirmacao-passagem .form-centered .jumbo-detalhes .main-body .detalhes .jumbo-ida .body .side-ida span {
              position: 5 absolute;
              left: 53%;
              top: 55%;
              -webkit-transform: rotate(-90deg);
              -moz-transform: rotate(-90deg);
              -ms-transform: rotate(-90deg);
              -o-transform: rotate(-90deg);
              transform: rotate(-90deg);
              color: white !important; }
          .confirmacao-passagem .form-centered .jumbo-detalhes .main-body .detalhes .jumbo-ida .body div {
            position: relative;
            width: 100%;
            height: 20px; }
            .confirmacao-passagem .form-centered .jumbo-detalhes .main-body .detalhes .jumbo-ida .body div i {
              font-size: 1.7rem;
              position: absolute;
              top: 2px;
              right: 0;
              color: rgba(66, 66, 66, 0.8) !important; }
            .confirmacao-passagem .form-centered .jumbo-detalhes .main-body .detalhes .jumbo-ida .body div span {
              font-size: 1.2rem;
              font-family: "Days One";
              position: absolute;
              top: 3px;
              right: 33px;
              color: rgba(66, 66, 66, 0.8) !important; }
        .confirmacao-passagem .form-centered .jumbo-detalhes .main-body .detalhes .jumbo-volta .body {
          position: relative; }
          .confirmacao-passagem .form-centered .jumbo-detalhes .main-body .detalhes .jumbo-volta .body .side-volta {
            position: absolute;
            top: 0;
            right: 0;
            width: 20px;
            height: 100%;
            background-color: rgba(66, 66, 66, 0.6); }
            .confirmacao-passagem .form-centered .jumbo-detalhes .main-body .detalhes .jumbo-volta .body .side-volta span {
              position: absolute;
              left: -60%;
              top: 45%;
              -webkit-transform: rotate(90deg);
              -moz-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
              -o-transform: rotate(90deg);
              transform: rotate(90deg);
              color: white !important; }
          .confirmacao-passagem .form-centered .jumbo-detalhes .main-body .detalhes .jumbo-volta .body div {
            position: relative;
            width: 100%;
            height: 20px; }
            .confirmacao-passagem .form-centered .jumbo-detalhes .main-body .detalhes .jumbo-volta .body div i {
              font-size: 1.7rem;
              position: absolute;
              top: 2px;
              left: 0;
              color: rgba(66, 66, 66, 0.8) !important; }
            .confirmacao-passagem .form-centered .jumbo-detalhes .main-body .detalhes .jumbo-volta .body div span {
              font-size: 1.2rem;
              font-family: "Days One";
              position: absolute;
              top: 1px;
              left: 25px;
              color: rgba(66, 66, 66, 0.8) !important; }
      .confirmacao-passagem .form-centered .jumbo-detalhes .bottom-strip {
        margin: 0;
        background-color: #424242;
        padding: 40px;
        border-bottom-left-radius: 4px !important;
        border-bottom-right-radius: 4px !important; }
        .confirmacao-passagem .form-centered .jumbo-detalhes .bottom-strip .paragrafo-parabens {
          color: rgba(255, 255, 255, 0.8); }
        .confirmacao-passagem .form-centered .jumbo-detalhes .bottom-strip .paragrafo-email {
          margin-bottom: 10px;
          color: rgba(255, 255, 255, 0.8); }
      .confirmacao-passagem .form-centered .jumbo-detalhes .button-continuar-comprando {
        position: absolute;
        right: 20px;
        bottom: -20px; }
      .confirmacao-passagem .form-centered .jumbo-detalhes .button-home {
        position: absolute;
        right: 90px;
        bottom: -14px;
        background-color: #686868; }

@media screen and (min-width: 768px) {
  .confirmacao-passagem .form-centered {
    margin-top: 213px; } }

.pesquisar-passagens-container {
  overflow: auto;
  height: calc(100vh - 50px); }
  .pesquisar-passagens-container div.animated {
    text-align: center; }
    .pesquisar-passagens-container div.animated table {
      border-radius: 8px 8px 4px 4px !important; }
      .pesquisar-passagens-container div.animated table .header-poltronas {
        cursor: default !important; }
        .pesquisar-passagens-container div.animated table .header-poltronas:hover i,
        .pesquisar-passagens-container div.animated table .header-poltronas:hover span {
          color: rgba(255, 255, 255, 0.6) !important; }
      .pesquisar-passagens-container div.animated table td {
        border: none; }
      .pesquisar-passagens-container div.animated table thead tr {
        background-color: #424242;
        border-bottom: 2px solid #F44336; }
      .pesquisar-passagens-container div.animated table thead th {
        -moz-user-select: -moz-none !important;
        -khtml-user-select: none !important;
        -webkit-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
        padding-top: 20px;
        padding-bottom: 10px !important;
        padding-bottom: 0; }
        .pesquisar-passagens-container div.animated table thead th:first-child {
          padding-left: 50px;
          border-top-left-radius: 4px !important; }
        .pesquisar-passagens-container div.animated table thead th:last-child {
          padding-right: 50px;
          border-top-right-radius: 4px !important; }
        .pesquisar-passagens-container div.animated table thead th div {
          display: inline-flex;
          text-justify: center;
          align-items: center;
          cursor: pointer; }
          .pesquisar-passagens-container div.animated table thead th div i,
          .pesquisar-passagens-container div.animated table thead th div span {
            color: rgba(255, 255, 255, 0.6); }
          .pesquisar-passagens-container div.animated table thead th div i {
            font-size: 1.7rem; }
          .pesquisar-passagens-container div.animated table thead th div span {
            margin-left: 10px; }
          .pesquisar-passagens-container div.animated table thead th div:hover i,
          .pesquisar-passagens-container div.animated table thead th div:hover span {
            color: white; }
      .pesquisar-passagens-container div.animated table tbody tr {
        border-top: 1px solid rgba(66, 66, 66, 0.05); }
        .pesquisar-passagens-container div.animated table tbody tr td:first-child {
          padding-left: 50px; }
        .pesquisar-passagens-container div.animated table tbody tr td:last-child {
          padding-right: 50px; }
        .pesquisar-passagens-container div.animated table tbody tr:first-child td {
          padding-top: 20px; }
        .pesquisar-passagens-container div.animated table tbody tr:last-child td {
          padding-bottom: 30px; }
    .pesquisar-passagens-container div.animated .pagination-pesquisa {
      margin-top: 76px; }
      @media screen and (min-width: 768px) {
        .pesquisar-passagens-container div.animated .pagination-pesquisa {
          margin-top: 213px; } }
      .pesquisar-passagens-container div.animated .pagination-pesquisa li a {
        background-color: white;
        border-color: rgba(45, 45, 45, 0.3);
        color: #2d2d2d; }
      .pesquisar-passagens-container div.animated .pagination-pesquisa li.active a {
        background-color: #424242;
        border-color: #424242 !important;
        color: white; }

.login-container {
  height: calc(100% - 150px) !important;
  padding: 30px 0 0 calc(50% - 150px); }
  @media screen and (min-width: 480px) {
    .login-container {
      padding: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0;
      padding-top: 0; } }
  .login-container.loading {
    cursor: wait !important; }
    .login-container.loading input,
    .login-container.loading button,
    .login-container.loading a,
    .login-container.loading .label {
      cursor: wait !important; }
  .login-container .login-box {
    text-align: left;
    position: relative;
    padding: 0;
    width: 300px;
    border: none;
    background-color: white;
    border-radius: 4px 4px 20px 30px; }
    @media screen and (min-width: 480px) {
      .login-container .login-box {
        width: 360px !important; } }
    .login-container .login-box form .main-section,
    .login-container .login-box form .footer-section {
      margin: 0;
      padding: 40px; }
    .login-container .login-box form .main-section {
      padding: 30px 40px 30px 30px; }
      @media screen and (min-width: 480px) {
        .login-container .login-box form .main-section {
          padding: 40px 50px 40px 40px; } }
    .login-container .login-box form .footer-section {
      padding: 0 0 0 40px;
      background-color: #424242;
      height: 60px;
      border-radius: 0 0 4px 4px;
      position: relative; }
      .login-container .login-box form .footer-section .footer-progress {
        position: absolute;
        left: 0;
        top: -4px;
        width: 100%; }
        .login-container .login-box form .footer-section .footer-progress [data-ref="value"] {
          background-color: #F0AD4E !important; }
      .login-container .login-box form .footer-section span {
        color: rgba(255, 255, 255, 0.8);
        font-size: 2rem;
        line-height: 60px;
        font-family: "Days One"; }
    .login-container .login-box form .btn-login {
      position: absolute;
      right: 20px;
      bottom: -20px; }

.welcome-container {
  overflow: auto;
  height: calc(100vh - 50px); }
  .welcome-container .info-container {
    margin-top: 76px;
    text-align: left;
    color: #424242; }
    .welcome-container .info-container .intro,
    .welcome-container .info-container .tech {
      text-align: justify;
      text-justify: inter-word; }
    .welcome-container .info-container .jumbo-painel {
      background-color: transparent !important;
      padding: 0;
      position: relative;
      border-radius: 4px; }
      .welcome-container .info-container .jumbo-painel .main-section,
      .welcome-container .info-container .jumbo-painel .footer-section {
        margin: 0;
        padding: 40px; }
      .welcome-container .info-container .jumbo-painel .main-section {
        background-color: white;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px; }
      .welcome-container .info-container .jumbo-painel .footer-section {
        padding: 0 0 0 40px;
        background-color: #424242;
        height: 60px;
        border-radius: 0 0 4px 4px; }
        .welcome-container .info-container .jumbo-painel .footer-section span {
          color: rgba(255, 255, 255, 0.8);
          font-size: 2rem;
          line-height: 60px;
          font-family: "Days One"; }
      .welcome-container .info-container .jumbo-painel .welcome-button {
        position: absolute;
        right: 20px;
        bottom: -20px; }
    .welcome-container .info-container h2 {
      font-family: "Days One";
      color: #424242;
      margin-top: 30px; }
    .welcome-container .info-container .title-intro {
      margin-top: 0; }
    .welcome-container .info-container hr {
      display: none; }

@media screen and (min-width: 768px) {
  .welcome-container .info-container {
    margin-top: 213px; } }

.perfil-usuario-container {
  overflow: auto;
  height: calc(100vh - 50px); }
  .perfil-usuario-container.loading {
    cursor: wait !important; }
    .perfil-usuario-container.loading input,
    .perfil-usuario-container.loading button,
    .perfil-usuario-container.loading a,
    .perfil-usuario-container.loading .label {
      cursor: wait !important; }
  .perfil-usuario-container .jumbotron {
    margin-top: 76px;
    position: relative;
    padding: 0;
    background-color: white; }
    .perfil-usuario-container .jumbotron .main-section,
    .perfil-usuario-container .jumbotron .footer-section {
      margin: 0;
      padding: 40px;
      text-align: left; }
    .perfil-usuario-container .jumbotron .main-section {
      padding: 40px; }
    .perfil-usuario-container .jumbotron .footer-section {
      padding: 0 0 0 40px;
      background-color: #424242;
      height: 60px;
      border-radius: 0 0 4px 4px;
      position: relative; }
      .perfil-usuario-container .jumbotron .footer-section .footer-progress {
        position: absolute;
        left: 0;
        top: -4px;
        width: 100%; }
        .perfil-usuario-container .jumbotron .footer-section .footer-progress [data-ref="value"] {
          background-color: #F0AD4E !important; }
      .perfil-usuario-container .jumbotron .footer-section span {
        color: rgba(255, 255, 255, 0.8);
        font-size: 2rem;
        line-height: 60px;
        font-family: "Days One"; }
    .perfil-usuario-container .jumbotron .btn-salvar {
      position: absolute;
      right: 20px;
      bottom: -20px; }

@media screen and (min-width: 768px) {
  .perfil-usuario-container .jumbotron {
    margin-top: 213px; } }

html {
  height: 100%; }
  html body {
    background-color: #dedede;
    height: inherit;
    position: relative; }
    html body::after {
      content: "";
      background: url("./styles/images/tree26.jpg") no-repeat center center;
      background-attachment: scroll;
      background-size: cover;
      opacity: 1;
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      position: absolute; }
    html body #root {
      height: inherit; }
      html body #root .App {
        height: inherit; }
        html body #root .App .App-container {
          padding: 0; }
          html body #root .App .App-container .App-container__row {
            height: 100%; }
            html body #root .App .App-container .App-container__row .App-container__col {
              height: 100%; }
    html body .title-after-icon {
      margin-left: 2rem; }
    html body .text-after-icon {
      margin-left: .8rem; }
    html body .icon-after-text {
      margin-left: .8rem; }
    html body .jumbotron {
      padding: 20px;
      border-radius: 6px;
      background-color: rgba(0, 0, 0, 0.05);
      border: none; }
      html body .jumbotron hr {
        border-color: rgba(0, 0, 0, 0.1); }
    html body .modal.fade.in {
      background-color: rgba(0, 0, 0, 0.3); }
    html body button .text-after-icon {
      margin-left: 1.6rem; }

@media screen and (min-width: 320px) {
  .page-title {
    font-size: 2rem !important; } }

@media screen and (min-width: 768px) {
  .page-title {
    font-size: 3rem !important; }
  .navheader-container .navbar {
    padding: 0;
    padding-left: 0;
    padding-right: 0; }
    .navheader-container .navbar .container {
      padding: 50px 0 50px 0; }
  .navheader-container .nav.navbar-nav {
    margin-left: 10px; }
  .navheader-container .navbar-right {
    margin-right: 10px; } }

@media screen and (min-width: 992px) {
  .page-title {
    font-size: 4rem !important; } }

@media screen and (min-width: 1200px) {
  .page-title {
    font-size: 5rem !important; } }

.rdt input {
  -moz-user-select: -moz-none !important;
  -khtml-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important; }

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
  -webkit-text-fill-color: initial !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s !important; }
