.tooltip > .tooltip-inner {
  background-color: rgba(128, 0, 128, 0.9); }

.tooltip.bottom > .tooltip-arrow {
  border-bottom-color: rgba(128, 0, 128, 0.9); }

.tooltip.top > .tooltip-arrow {
  border-top-color: rgba(128, 0, 128, 0.9); }

.tooltip.left > .tooltip-arrow {
  border-left-color: rgba(128, 0, 128, 0.9); }

.tooltip.right > .tooltip-arrow {
  border-right-color: rgba(128, 0, 128, 0.9); }

@font-face {
  font-family: 'Roboto';
  src: url(./styles/fonts/Roboto-Regular.ttf) format("trueType"); }

@font-face {
  font-family: 'Gruppo';
  src: url(./styles/fonts/Gruppo-Regular.ttf) format("trueType"); }

.App {
  text-align: center; }
  .App .App-header {
    background-color: #222;
    height: 80px;
    padding: 20px;
    color: white; }
    .App .App-header .header-userinfo {
      position: absolute;
      top: 32px;
      right: 60px; }
    .App .App-header .header-user-logout {
      position: absolute;
      top: 33px;
      right: 20px;
      cursor: pointer; }
  .App .App-container {
    padding: 20px;
    font-family: 'Roboto'; }

.navheader-container .navbar {
  background-color: #2d2d2d;
  margin-bottom: 0;
  border: none;
  padding: 50px;
  padding-left: 0; }

.navheader-container .icon-title.links {
  font-size: 2rem;
  color: #9d9d9d; }
  .navheader-container .icon-title.links:hover {
    color: white; }

.navheader-container .nav.navbar-nav {
  margin-left: 0; }

.navheader-container .page-title,
.navheader-container .icon-title {
  color: #e9e9e9; }

.navheader-container .icon-title {
  font-size: 3rem; }

.navheader-container .page-title {
  font-family: "Gruppo";
  font-size: 5rem;
  font-weight: bold;
  margin-left: 30px; }

.App .navbar {
  margin-bottom: 0;
  border: none;
  border-radius: 0; }
  .App .navbar .container {
    margin-left: 0;
    margin-right: 0;
    width: 100%; }
  .App .navbar .navbar-nav {
    margin-left: 50px; }
  .App .navbar .App-logo {
    animation: App-logo-spin infinite 5s linear;
    color: #f0ad4e; }
  .App .navbar .header-title {
    color: #f0ad4e;
    margin-left: 10px;
    font-size: 2.5rem;
    font-family: "Gruppo";
    font-weight: bold; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.comprar-passagem-container {
  height: calc(100% - 315px); }
  .comprar-passagem-container .form-centered {
    width: inherit; }
  .comprar-passagem-container .form-passagem-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding-top: 0; }
    .comprar-passagem-container .form-passagem-container .error-empty {
      color: #a94442; }
    .comprar-passagem-container .form-passagem-container .input-col {
      margin-top: 10px; }
    .comprar-passagem-container .form-passagem-container input#data {
      background-color: white; }
    .comprar-passagem-container .form-passagem-container .col-button-left {
      padding-left: 12px;
      padding-right: 5px; }
    .comprar-passagem-container .form-passagem-container .col-button-right {
      padding-left: 5px;
      padding-right: 12px; }
    .comprar-passagem-container .form-passagem-container hr {
      border-color: rgba(0, 0, 0, 0.1); }

.confirmacao-passagem {
  height: calc(100% - 315px); }
  .confirmacao-passagem .form-centered {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding-top: 0; }
    .confirmacao-passagem .form-centered .detalhes {
      margin-top: 60px;
      margin-bottom: 30px; }
    .confirmacao-passagem .form-centered .label-localizador {
      margin-bottom: 10px; }
    .confirmacao-passagem .form-centered .localizador {
      font-family: "Gruppo";
      font-size: 3rem;
      font-weight: bold; }
    .confirmacao-passagem .form-centered .jumbotron {
      background-color: lightgray;
      padding: 20px;
      margin-top: 5px;
      margin-bottom: 0; }

.pesquisar-passagens-container .icon-table {
  color: rgba(0, 0, 0, 0.5); }
  .pesquisar-passagens-container .icon-table.arrow-trajeto {
    color: green;
    margin-left: 15px;
    margin-right: 15px; }
  .pesquisar-passagens-container .icon-table.data {
    color: #4285f4;
    margin-right: 6px; }
  .pesquisar-passagens-container .icon-table.horario {
    color: goldenrod;
    margin-left: 15px;
    margin-right: 6px; }

.pesquisar-passagens-container .label-poltrona {
  margin-right: 4px; }

.pesquisar-passagens-container th {
  cursor: pointer; }
  .pesquisar-passagens-container th .th-icon {
    margin-left: 10px;
    color: purple; }

.pesquisar-passagens-container Table {
  margin-top: 30px; }

.login-container {
  height: calc(100% - 150px) !important;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding-top: 0; }
  .login-container .login-box {
    text-align: left;
    position: relative;
    width: 360px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: white;
    border-radius: 8px;
    padding: 15px 20px; }
    .login-container .login-box .login-header {
      height: 60px;
      margin-bottom: 15px;
      position: relative; }
      .login-container .login-box .login-header .login-header--title {
        position: absolute;
        left: 0;
        display: inline;
        width: 260px;
        height: inherit; }
        .login-container .login-box .login-header .login-header--title .login-header--title-main {
          color: rgba(47, 79, 79, 0.7);
          line-height: 30px;
          font-size: 2.5rem;
          font-weight: bold;
          font-family: 'Roboto'; }
        .login-container .login-box .login-header .login-header--title .login-header--title-sub {
          margin-top: 6px;
          color: darkslategrey; }
      .login-container .login-box .login-header .login-header--icon {
        position: absolute;
        left: 260px;
        display: inline;
        width: 60px;
        height: inherit; }
        .login-container .login-box .login-header .login-header--icon .main-icon {
          font-size: 2.5rem;
          color: rgba(47, 79, 79, 0.5);
          margin-right: 5px; }

.form-group {
  text-align: left; }
  .form-group.has-error .Select--multi .Select-control {
    border: 1px solid #843534; }
    .form-group.has-error .Select--multi .Select-control .Select-arrow {
      border-color: #843534 transparent transparent; }
  .form-group.has-error .Select--multi.is-focused {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483; }

.btn-google-blue {
  background-color: #4285f4;
  background-image: none;
  border: none;
  font-family: 'Gruppo', Arial, sans-serif;
  font-weight: bold;
  letter-spacing: .7px;
  padding: 6px 20px;
  transition: color 0.15s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: background-color; }
  .btn-google-blue:focus {
    border: none;
    background: #1266f1 !important;
    text-decoration: none;
    outline: none !important; }
  .btn-google-blue:hover {
    border: none;
    background: #1266f1 !important;
    text-decoration: none;
    outline: none !important; }
  .btn-google-blue:active {
    border: none;
    background: #1266f1 !important;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2) !important;
    text-decoration: none;
    outline: none !important; }

.btn-google-purple {
  background-color: purple;
  background-image: none;
  border: none;
  font-family: 'Gruppo', Arial, sans-serif;
  font-weight: bold;
  letter-spacing: .7px;
  padding: 6px 20px;
  transition: color 0.15s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: background-color; }
  .btn-google-purple:focus {
    border: none;
    background: #4d004d !important;
    text-decoration: none;
    outline: none !important; }
  .btn-google-purple:hover {
    border: none;
    background: #4d004d !important;
    text-decoration: none;
    outline: none !important; }
  .btn-google-purple:active {
    border: none;
    background: #4d004d !important;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2) !important;
    text-decoration: none;
    outline: none !important; }

html {
  height: 100%; }
  html body {
    background-color: #eaebf0;
    height: inherit; }
    html body #root {
      height: inherit; }
      html body #root .App {
        height: inherit; }
        html body #root .App .App-container {
          padding: 0; }
          html body #root .App .App-container .App-container__row {
            height: 100%; }
            html body #root .App .App-container .App-container__row .App-container__col {
              height: 100%; }
    html body .text-after-icon {
      margin-left: 8px; }
